﻿@model SciROLabABW.Web.ViewModels.Teams.TeamManage_VM

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Team</h2>
<h3>Are you sure you want to delete this?</h3>

<hr class="hr-table-coral" />
<div class="form-horizontal">
    <div class="row">
        <div class="col-md-3" style="word-wrap: break-word;">
            @Html.Label("Team Name:", htmlAttributes: new { @class = "control-label" })
            <dl class="dl-horizontal">
                @Html.DisplayFor(model => model.Name)
            </dl>
        </div>
        <div class="col-md-3">
            @Html.Label("Users:", htmlAttributes: new { @class = "control-label" })
            <dl class="dl-horizontal">
                @Html.Partial("_TeamUsersIndex", Model)
            </dl>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btnCoral btnRad30" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }

</div>
