﻿@model SciROLabABW.Web.Models.SciROLabTeam

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>SciROLabTeam</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        <a href="" class="historyGoBack"> Go Back </a>
    </p>
</body>
</html>

@section Scripts {
    <script src="~/Scripts/App/PageHistoryGoBack.js"></script>
}
