﻿@model IEnumerable<SciROLabABW.Web.ViewModels.Teams.TeamManage_VM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Teams Manager</h2>

<hr class="hr-table-coral" />
<div class="form-horizontal">
    @Html.ActionLink("Create New Team", "Create")
    @foreach (var item in Model)
    {
        <hr class="hr-table-coral" />
        <div class="row">
            <div class="col-md-3" style="word-wrap: break-word;">
                @Html.Label("Team Name:", htmlAttributes: new { @class = "control-label" })
                <dl class="dl-horizontal">
                    @Html.DisplayFor(model => item.Name)
                </dl>
            </div>
            <div class="col-md-3">
                @Html.Label("Users:", htmlAttributes: new { @class = "control-label" })
                <dl class="dl-horizontal">
                    @Html.Partial("_TeamUsersIndex", item)
                </dl>
                <div>
                    @Html.ActionLink("Add Users", "AddUsers", "Teams", new { teamId = item.Id }, null) |
                    @Html.ActionLink("Delete Users", "DeleteUsers", "Teams", new { teamId = item.Id }, null)
                </div>
            </div>
        </div>
        <div>
            @Html.ActionLink("Edit Team", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete Team", "Delete", new { id = item.Id })
        </div>
    }
</div>
