﻿@model SciROLabABW.Web.ViewModels.Teams.TeamManageUsers_VM

@{
    ViewBag.Title = "AddUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AddUsers", "Teams"))
{
    @Html.AntiForgeryToken()

    <h2>Add Users to Team</h2>
    <div>
        @Html.HiddenFor(model => model.teamId)
        @Html.HiddenFor(model => model.teamName)
        <hr class="hr-table-coral" />
        <div class="row">
            <div class="col-md-3" style="word-wrap: break-word;">
                @Html.Label("Team Name:", htmlAttributes: new { @class = "control-label" })
                @Html.DisplayFor(model => model.teamName)
            </div>
            <div class="col-md-9">
                @Html.Label("Users:", htmlAttributes: new { @class = "control-label" })
                <dl class="dl-horizontal">
                    @Html.ListBoxFor(model => model.SelectedUsers, Model.Users, new { size = 20, @style = "min-width: 500px;" })
                </dl>
            </div>
        </div>
        <div>
            <input type="submit" value="Add" class="btn btnCoral btnRad30 submitBtn" name="submit" id="submitBtnId" /> |
            <a href="" class="historyGoBack"> Go Back </a>
        </div>
    </div>
}

@section Scripts {
    <script src="~/Scripts/App/LeavePageValidation.js"></script>
    <script src="~/Scripts/App/PageHistoryGoBack.js"></script>
}
