﻿@model SciROLabABW.Web.ViewModels.Methods.ExpMethodsCreate_VM

<style type="text/css">
    .form-control {
        max-width: 100%;
    }

    #bottomContainer {
        clear: both;
        width: 100%;
        padding-top: 2em;
    }
</style>

@{
    ViewBag.Title = "Add New Method";
}

<h2>@ViewBag.Title</h2>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<h5 style="color:black;">***To create a new method please add the desired method name to the first field, to add more fields to your custom method give each field a name by filling in the relevant textbox.</h5>
<h5 style="color:black;">Leave blank the fields that you don't want to include in this method. Fields with (*) sign are predefined and are not editable.</h5>

@using (Html.BeginForm("Create", "Methods", FormMethod.Post, new { enctype = "multipart/form-data", Id = "postForm" }))
{
    @Html.AntiForgeryToken()

    <hr class="hr-table-coral" />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.methodName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.methodName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.methodName, "", new { @class = "text-danger" })
                <div class="text-danger">@ViewBag.ExpMethodExistsMessage</div>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("*Textbox Name: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBox("Image ID", "Image ID", new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>    

        <div class="form-group">
            @Html.Label("*Textbox Name: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBox("Group Name", "Share with Group", new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>  

        <div class="form-group">
            @Html.Label("*Textbox Name: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBox("User Name", "User Name", new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>    

        <div class="form-group">
            @Html.Label("*Textbox Name: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBox("Experiment ID", "Experiment ID", new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>      

        <div class="form-group">
            @Html.Label("*Textbox Name: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6" style="word-wrap: break-word;">
                @Html.TextBox("Experiment Info", "Experiment Info", new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("*Textbox Name: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6" style="word-wrap: break-word;">
                @Html.TextBox("Performer", "Performer", new { @class = "form-control", @readonly = "readonly" })
                @Html.DisplayFor(model => model.performer, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("*Textbox Name: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6" style="word-wrap: break-word;">
                @Html.TextBox("Comments", "Comments", new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.text1Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.text1Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.text1Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.text2Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.text2Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.text2Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.text3Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.text3Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.text3Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.text4Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.text4Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.text4Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.text5Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.text5Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.text5Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.text6Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.text6Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.text6Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.text7Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.text7Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.text7Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.text8Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.text8Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.text8Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.text9Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.text9Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.text9Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.text10Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.text10Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.text10Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.text11Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.text11Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.text11Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.text12Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.text12Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.text12Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.text13Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.text13Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.text13Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.text14Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.text14Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.text14Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.text15Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.text15Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.text15Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("*Datebox Name: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6" style="word-wrap: break-word;">
                @Html.TextBox("Date Added", "Date Added", new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("*Datebox Name: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6" style="word-wrap: break-word;">
                @Html.TextBox("Experiment Date", "Experiment Date", new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.date1Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.date1Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.date1Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.date2Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.date2Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.date2Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.date3Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.date3Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.date3Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("*Checkbox Name: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6" style="word-wrap: break-word;">
                @Html.TextBox("Share Row", "Share Row", new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bool1Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.bool1Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.bool1Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bool2Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.bool2Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.bool2Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bool3Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.bool3Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.bool3Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.bool4Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.bool4Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.bool4Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.bool5Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.bool5Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.bool5Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.bool6Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.bool6Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.bool6Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.bool7Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.bool7Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.bool7Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.bool8Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.bool8Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.bool8Name, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group" style="margin-top:2em;">
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btnCoral btnRad30 submitBtnHistoryBack submitBtn" id="submitBtnId" name="submit" />
            </div>
        </div>
    </div>
}

<div id="bottomContainer">
    <hr class="hr-table-coral" />
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/App/LeavePageValidation.js"></script>
    <script src="~/Scripts/App/ProgressAnimation.js"></script>
    <script src="~/Scripts/App/PageHistoryGoBack.js"></script>
    <script src="~/Scripts/App/PreventPostBackOnEnter.js"></script>
}
