﻿@model List<SciROLabABW.Web.ViewModels.Methods.ExpMethodsIndex_VM>

@{
    ViewBag.Title = "Index";
}

<h2>Methods Manager</h2>

<!-- References modal placeholder - check if i really need this one!!!-->
<div id='refModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='refModalContent'></div>
        </div>
    </div>

</div>

<hr class="hr-table-coral" />
@Html.ActionLink("Create New Method", "Create", "Methods", null, new { @class = "keepMainViewLocation", onclick = "ShowProgressModal()" })
<div><text>Fields with (*) sign are predefined and are not editable.</text></div>
<div class="form-horizontal">
    @foreach (var item in Model)
    {
        <hr class="hr-table-coral" />
        <div class="row">
            <div>
                <dl class="dl-horizontal">
                    @if ((item.methodName != null) && (item.methodName != ""))
                    {
                        <dt>
                            @Html.DisplayNameFor(model => item.methodName)
                        </dt>
                        <dd>
                            <div style="word-wrap: break-word;">
                                @Html.DisplayFor(model => item.methodName)
                            </div>
                        </dd>
                    }                    
                    <dt>
                        @Html.DisplayName("*Textbox Name: ")
                    </dt>
                    <dd>
                        <div style="word-wrap: break-word;">
                            <text>Image ID</text>
                        </div>
                    </dd>
                    <dt>
                        @Html.DisplayName("*Textbox Name: ")
                    </dt>
                    <dd>
                        <div style="word-wrap: break-word;">
                            <text>Share with Group</text>
                        </div>
                    </dd>
                    <dt>
                        @Html.DisplayName("*Textbox Name: ")
                    </dt>
                    <dd>
                        <div style="word-wrap: break-word;">
                            <text>User Name</text>
                        </div>
                    </dd>
                    <dt>
                        @Html.DisplayName("*Textbox Name: ")
                    </dt>
                    <dd>
                        <div style="word-wrap: break-word;">
                            <text>Experiment ID</text>
                        </div>
                    </dd>                    
                    <dt>
                        @Html.DisplayName("*Textbox Name: ")
                    </dt>
                    <dd>
                        <div style="word-wrap: break-word;">
                            <text>Experiment Info</text>
                        </div>
                    </dd>
                    <dt>
                        @Html.DisplayName("*Textbox Name: ")
                    </dt>
                    <dd>
                        <div style="word-wrap: break-word;">
                            <text>Performer</text>
                        </div>
                    </dd>
                    <dt>
                        @Html.DisplayName("*Textbox Name: ")
                    </dt>
                    <dd>
                        <div style="word-wrap: break-word;">
                            <text>Comments</text>
                        </div>
                    </dd>
                    @if ((item.text1Name != null) && (item.text1Name != ""))
                    {
                        <dt>
                            @Html.DisplayNameFor(model => item.text1Name)
                        </dt>
                        <dd>
                            <div style="word-wrap: break-word;">
                                @Html.DisplayFor(model => item.text1Name)
                            </div>
                        </dd>
                    }
                    @if ((item.text2Name != null) && (item.text2Name != ""))
                    {
                        <dt>
                            @Html.DisplayNameFor(model => item.text2Name)
                        </dt>
                        <dd>
                            <div style="word-wrap: break-word;">
                                @Html.DisplayFor(model => item.text2Name)
                            </div>
                        </dd>
                    }
                    @if ((item.text3Name != null) && (item.text3Name != ""))
                    {
                        <dt>
                            @Html.DisplayNameFor(model => item.text3Name)
                        </dt>
                        <dd>
                            <div style="word-wrap: break-word;">
                                @Html.DisplayFor(model => item.text3Name)
                            </div>
                        </dd>
                    }
                    @if ((item.text4Name != null) && (item.text4Name != ""))
                    {
                        <dt>
                            @Html.DisplayNameFor(model => item.text4Name)
                        </dt>
                        <dd>
                            <div style="word-wrap: break-word;">
                                @Html.DisplayFor(model => item.text4Name)
                            </div>
                        </dd>
                    }                    
                    @if ((item.text5Name != null) && (item.text5Name != ""))
                    {
                        <dt>
                            @Html.DisplayNameFor(model => item.text5Name)
                        </dt>
                        <dd>
                            <div style="word-wrap: break-word;">
                                @Html.DisplayFor(model => item.text5Name)
                            </div>
                        </dd>
                    }
                    @if ((item.text6Name != null) && (item.text6Name != ""))
                    {
                        <dt>
                            @Html.DisplayNameFor(model => item.text6Name)
                        </dt>
                        <dd>
                            <div style="word-wrap: break-word;">
                                @Html.DisplayFor(model => item.text6Name)
                            </div>
                        </dd>
                    }
                    @if ((item.text7Name != null) && (item.text7Name != ""))
                    {
                        <dt>
                            @Html.DisplayNameFor(model => item.text7Name)
                        </dt>
                        <dd>
                            <div style="word-wrap: break-word;">
                                @Html.DisplayFor(model => item.text7Name)
                            </div>
                        </dd>
                    }
                    @if ((item.text8Name != null) && (item.text8Name != ""))
                    {
                        <dt>
                            @Html.DisplayNameFor(model => item.text8Name)
                        </dt>
                        <dd>
                            <div style="word-wrap: break-word;">
                                @Html.DisplayFor(model => item.text8Name)
                            </div>
                        </dd>
                    }
                    @if ((item.text9Name != null) && (item.text9Name != ""))
                    {
                        <dt>
                            @Html.DisplayNameFor(model => item.text9Name)
                        </dt>
                        <dd>
                            <div style="word-wrap: break-word;">
                                @Html.DisplayFor(model => item.text9Name)
                            </div>
                        </dd>
                    }
                    @if ((item.text10Name != null) && (item.text10Name != ""))
                    {
                        <dt>
                            @Html.DisplayNameFor(model => item.text10Name)
                        </dt>
                        <dd>
                            <div style="word-wrap: break-word;">
                                @Html.DisplayFor(model => item.text10Name)
                            </div>
                        </dd>
                    }
                    @if ((item.text11Name != null) && (item.text11Name != ""))
                    {
                        <dt>
                            @Html.DisplayNameFor(model => item.text11Name)
                        </dt>
                        <dd>
                            <div style="word-wrap: break-word;">
                                @Html.DisplayFor(model => item.text11Name)
                            </div>
                        </dd>
                    }
                    @if ((item.text12Name != null) && (item.text12Name != ""))
                    {
                        <dt>
                            @Html.DisplayNameFor(model => item.text12Name)
                        </dt>
                        <dd>
                            <div style="word-wrap: break-word;">
                                @Html.DisplayFor(model => item.text12Name)
                            </div>
                        </dd>
                    }
                    @if ((item.text13Name != null) && (item.text13Name != ""))
                    {
                        <dt>
                            @Html.DisplayNameFor(model => item.text13Name)
                        </dt>
                        <dd>
                            <div style="word-wrap: break-word;">
                                @Html.DisplayFor(model => item.text13Name)
                            </div>
                        </dd>
                    }
                    @if ((item.text14Name != null) && (item.text14Name != ""))
                    {
                        <dt>
                            @Html.DisplayNameFor(model => item.text14Name)
                        </dt>
                        <dd>
                            <div style="word-wrap: break-word;">
                                @Html.DisplayFor(model => item.text14Name)
                            </div>
                        </dd>
                    }
                    @if ((item.text15Name != null) && (item.text15Name != ""))
                    {
                        <dt>
                            @Html.DisplayNameFor(model => item.text15Name)
                        </dt>
                        <dd>
                            <div style="word-wrap: break-word;">
                                @Html.DisplayFor(model => item.text15Name)
                            </div>
                        </dd>
                    }
                    <dt>
                        @Html.DisplayName("*Datebox Name: ")
                    </dt>
                    <dd>
                        <div style="word-wrap: break-word;">
                            <text>Date Added</text>
                        </div>
                    </dd>    
                    <dt>
                        @Html.DisplayName("*Datebox Name: ")
                    </dt>
                    <dd>
                        <div style="word-wrap: break-word;">
                            <text>Experiment Date</text>
                        </div>
                    </dd>
                    @if ((item.date1Name != null) && (item.date1Name != ""))
                    {
                        <dt>
                            @Html.DisplayNameFor(model => item.date1Name)
                        </dt>
                        <dd>
                            <div style="word-wrap: break-word;">
                                @Html.DisplayFor(model => item.date1Name)
                            </div>
                        </dd>
                    }
                    @if ((item.date2Name != null) && (item.date2Name != ""))
                    {
                        <dt>
                            @Html.DisplayNameFor(model => item.date2Name)
                        </dt>
                        <dd>
                            <div style="word-wrap: break-word;">
                                @Html.DisplayFor(model => item.date2Name)
                            </div>
                        </dd>
                    }
                    @if ((item.date3Name != null) && (item.date3Name != ""))
                    {
                        <dt>
                            @Html.DisplayNameFor(model => item.date3Name)
                        </dt>
                        <dd>
                            <div style="word-wrap: break-word;">
                                @Html.DisplayFor(model => item.date3Name)
                            </div>
                        </dd>
                    }
                    <dt>
                        @Html.DisplayName("*Checkbox Name: ")
                    </dt>
                    <dd>
                        <div style="word-wrap: break-word;">
                            <text>Share Row</text>
                        </div>
                    </dd>    
                    @if ((item.bool1Name != null) && (item.bool1Name != ""))
                    {
                        <dt>
                            @Html.DisplayNameFor(model => item.bool1Name)
                        </dt>
                        <dd>
                            <div style="word-wrap: break-word;">
                                @Html.DisplayFor(model => item.bool1Name)
                            </div>
                        </dd>
                    }
                    @if ((item.bool2Name != null) && (item.bool2Name != ""))
                    {
                        <dt>
                            @Html.DisplayNameFor(model => item.bool2Name)
                        </dt>
                        <dd>
                            <div style="word-wrap: break-word;">
                                @Html.DisplayFor(model => item.bool2Name)
                            </div>
                        </dd>
                    }                    
                    @if ((item.bool3Name != null) && (item.bool3Name != ""))
                    {
                        <dt>
                            @Html.DisplayNameFor(model => item.bool3Name)
                        </dt>
                        <dd>
                            <div style="word-wrap: break-word;">
                                @Html.DisplayFor(model => item.bool3Name)
                            </div>
                        </dd>
                    }
                    @if ((item.bool4Name != null) && (item.bool4Name != ""))
                    {
                        <dt>
                            @Html.DisplayNameFor(model => item.bool4Name)
                        </dt>
                        <dd>
                            <div style="word-wrap: break-word;">
                                @Html.DisplayFor(model => item.bool4Name)
                            </div>
                        </dd>
                    }
                    @if ((item.bool5Name != null) && (item.bool5Name != ""))
                    {
                        <dt>
                            @Html.DisplayNameFor(model => item.bool5Name)
                        </dt>
                        <dd>
                            <div style="word-wrap: break-word;">
                                @Html.DisplayFor(model => item.bool5Name)
                            </div>
                        </dd>
                    }
                    @if ((item.bool6Name != null) && (item.bool6Name != ""))
                    {
                        <dt>
                            @Html.DisplayNameFor(model => item.bool6Name)
                        </dt>
                        <dd>
                            <div style="word-wrap: break-word;">
                                @Html.DisplayFor(model => item.bool6Name)
                            </div>
                        </dd>
                    }
                    @if ((item.bool7Name != null) && (item.bool7Name != ""))
                    {
                        <dt>
                            @Html.DisplayNameFor(model => item.bool7Name)
                        </dt>
                        <dd>
                            <div style="word-wrap: break-word;">
                                @Html.DisplayFor(model => item.bool7Name)
                            </div>
                        </dd>
                    }
                    @if ((item.bool8Name != null) && (item.bool8Name != ""))
                    {
                        <dt>
                            @Html.DisplayNameFor(model => item.bool8Name)
                        </dt>
                        <dd>
                            <div style="word-wrap: break-word;">
                                @Html.DisplayFor(model => item.bool8Name)
                            </div>
                        </dd>
                    }
                </dl>
            </div>
        </div>
        <div> 
            @Html.ActionLink("Duplicate", "Duplicate", "Methods", new { id = item.methodId }, null)
            @Html.ActionLink(" | Delete", "Delete", "Methods", new { @class = "modifyReferences", data_id = item.methodId, data_url = @Url.Action("Delete", "Methods") })
        </div>
    }
</div>
<hr class="hr-table-coral" />


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/RefModalFormGet")
    <script src="~/Scripts/App/MouseOverImageResize.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/App/ProgressAnimation.js"></script>
    <script src="~/Scripts/App/PageKeepScrollPosition.js"></script>
}
