﻿@{
    ViewBag.Title = "Manage User Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage User's Roles</h2>
@*@Html.ActionLink("Create New Role", "RoleCreate") |*@
@Html.ActionLink("Roles", "RoleIndex")


<hr />
<h4>List roles for user:</h4>
@using (Html.BeginForm("GetRoles", "Roles"))
{
    @Html.AntiForgeryToken()
    <p>
        User Name : @Html.DropDownList("UserName", ViewBag.Users as SelectList, new { @class = "form-control", onchange = "this.form.submit();" })
    </p>
    <input type="submit" class="btn btn-default  btnCoral btnRad30" value="Get Roles for this User" />
}

@if (ViewBag.RolesForThisUser != null)
{
    <text>
        <h5>Roles for this user: </h5>
        <ol>
            @foreach (string rolesStr in ViewBag.RolesForThisUser)
            {
                <li>@rolesStr</li>
            }
        </ol>
    </text>
}

<hr />
<div class="text-success">@ViewBag.ResultMessageSuccess</div>
<div class="text-danger">@ViewBag.ResultMessageErr</div>
<hr />
<h4>Add role to user:</h4>
@using (Html.BeginForm("ManageUserRoles", "Roles", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <p>
        User Name : @Html.DropDownList("UserName", ViewBag.Users as SelectList, new { @class = "form-control" })
        Role Name: @Html.DropDownList("RoleName", ViewBag.Roles as SelectList, new { @class = "form-control" })
    </p>

    <input type="submit" class="btn btn-default  btnCoral btnRad30" value="Add Role to User" />
}

<hr />
<h4>Remove role from user:</h4>
@using (Html.BeginForm("DeleteRoleFromUser", "Roles", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <p>
        User Name : @Html.DropDownList("UserName", ViewBag.Users as SelectList, new { @class = "form-control" })
        Role Name: @Html.DropDownList("RoleName", ViewBag.Roles as SelectList, new { @class = "form-control" })
    </p>

    <input type="submit" class="btn btn-default  btnCoral btnRad30" value="Remove Role from this User" />
}