﻿@{
    ViewBag.Title = "Create Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Role</h2>
@Html.ActionLink("Roles", "RoleIndex") | @Html.ActionLink("Manage User's Roles", "ManageUserRoles")
<div class="text-danger">@ViewBag.ResultMessageErr</div>
@using (Html.BeginForm("RoleCreate", "Roles", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <hr />
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.Label("Role Name", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBox("RoleName", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default  btnCoral btnRad30" value="Create" />
        </div>
    </div>
}
