﻿@{
    ViewBag.Title = "RoleIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h2>Roles Manager</h2>
    @*@Html.ActionLink("Create New Role", "RoleCreate") |*@
    @Html.ActionLink("Manage User's Roles", "ManageUserRoles")

<hr />
<h3>Existing Roles:</h3>
@foreach (string roleStr in Model)
{
    <p>
        @roleStr
    
        @* Code to display all roles basic and non-basic and give the user the option to delete the non-basic ones -
           Not in use right now
        @roleStr
        <span onclick=" return confirm('Are you sure that you want to delete the role?') ">
            <!-- Don't allow to delete basic roles, allow to delete only roles added by users -->
            @if (!ProjectCommons.isBasicRole(@roleStr))
            { 
                <a href="/Roles/RoleDelete?RoleName=@roleStr" class="delLink">(Delete)</a>
            }
        </span>*@
    </p>
}
