﻿@using PagedList.Mvc;
@using SciROLabABW.Web.CustomHtmlHelpers;
@model SciROLabABW.Web.ViewModels.WBMainTableEdit_VM

<div class="row">
    <div class="form-horizontal col-md-8">
        <div class="form-group">
            @Html.LabelFor(model => model.mainID, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10" style="word-wrap: break-word;">
                @Html.DisplayFor(model => model.mainID, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.HiddenFor(model => model.mainID)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.userName, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10" style="word-wrap: break-word;">
                @Html.DisplayFor(model => model.userName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.HiddenFor(model => model.userName)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.shareRow, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.shareRow)
                @Html.ValidationMessageFor(model => model.shareRow, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.groupName, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.groupName, new { htmlAttributes = new { @class = "form-control autoComplete" } })
                @Html.ValidationMessageFor(model => model.groupName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dateAdded, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10" style="word-wrap: break-word;">
                @Html.DisplayFor(model => model.dateAdded, "ToShortDateString", new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.HiddenFor(model => model.dateAdded)
        </div>

        @if (Model.experimentMethod != null)
        {
            if (Model.experimentMethod == "Immunostaining")
            {
                @Html.Partial("_ISDBEditMultiple", Model)
            }
            else if (Model.experimentMethod == "Western Blot")
            {
                @Html.Partial("_WBDBEditMultiple", Model)
            }
            else
            {
                @Html.Partial("_RowDBEdit", Model)
            }
        }
        else
        {
            @* Not in use at this point - for some reason model is null on Post
                    <div id=@Model.rowID>
                    <div class="form-group">
                        @Html.LabelFor(model => model.experimentMethod, htmlAttributes: new { @class = "col-md-2" })
                        @Html.DropDownListFor(m => m.SelectedMethod, Model.MethodsList, null,
                        new
                        {
                            @id = "experimentMethodEditMultiple",
                            onchange = "methodSelect(this)",
                            data_url = Url.Action("ExperimentMethodEditView", "WesternBlot"),
                            data_id = Model.rowID,
                            data_select = this.Model.SelectedMethod
                        })
                        @Html.HiddenFor(model => model.experimentMethod)
                    </div>
                </div>
            *@
        }

        @Html.HiddenFor(model => model.rowID)
        @Html.HiddenFor(model => model.image)
        @Html.HiddenFor(model => model.userID)
        @Html.HiddenFor(model => model.imagePath)
        @Html.HiddenFor(model => model.imageType)
        @Html.HiddenFor(model => model.storedImageName)
        @Html.HiddenFor(model => model.storedImagePath)
        @Html.HiddenFor(model => model.storedDownSampleImagePath)
        @Html.HiddenFor(model => model.storedLabelImagePath)
        @Html.HiddenFor(model => model.storedMacroImagePath)
        @Html.HiddenFor(model => model.previousUrl)


    </div>

    <div class="form-horizontal col-md-4">
        <div class="form-group">
            @Html.HiddenFor(model => model.imageName)
            <label>Image:</label>
            <div style="word-wrap: break-word;">
                @Html.DisplayFor(model => model.imageName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <img src="@Html.DisplayImageByteArray(Model.image)" width="300" class="resizedImage" />
        </div>
        <div>
            @if (!String.IsNullOrEmpty(Model.storedLabelImagePath))
            {
                @Html.Label("Label:", htmlAttributes: new { @class = "control-label" })
                <div>
                    <img src="@Html.DisplayImageByPath(@Model.storedLabelImagePath)" width="150" class="resizedImage" />
                </div>
            }
        </div>
        <div>
            @if (!String.IsNullOrEmpty(Model.storedMacroImagePath))
            {
                @Html.Label("Macro:", htmlAttributes: new { @class = "control-label" })
                <div>
                    <img src="@Html.DisplayImageByPath(@Model.storedMacroImagePath)" width="150" class="resizedImage" />
                </div>
            }
        </div>
    </div>
 </div>
 <hr class="hr-table-coral" />