﻿@using SciROLabABW.Web.Authorization;
@using SciROLabABW.Web.CustomHtmlHelpers;
@model SciROLabABW.Web.ViewModels.WBMainTableDetails_VM

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.mainID)
    </dt>

    <dd>
        <div style="word-wrap: break-word;">
            @Html.DisplayFor(model => model.mainID)
        </div>
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.userName)
    </dt>

    <dd>
        <div style="word-wrap: break-word;">
            @Html.DisplayFor(model => model.userName)
        </div>
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.shareRow)
    </dt>

    <dd>
        <div style="word-wrap: break-word;">
            @(Model.shareRow == true ? "Yes" : "No")
        </div>
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.groupName)
    </dt>
    <dd>
        <div style="word-wrap: break-word;">
            @Html.DisplayFor(model => model.groupName)
        </div>
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.dateAdded)
    </dt>

    <dd>
        <div style="word-wrap: break-word;">
            @Html.DisplayFor(model => model.dateAdded, "ToShortDateString")
        </div>
    </dd>

    @if (Model.experimentMethod != null)
    {
        if (Model.experimentMethod == "Immunostaining")
        {
            @Html.Partial("_ISRowDBDetails", Model)
        }
        else if (Model.experimentMethod == "Western Blot")
        {
            @Html.Partial("_WBRowDBDetails", Model)
        }
        else
        {
            @Html.Partial("_RowDBDetails", Model)
        }
    }
</dl>