﻿@using SciROLabABW.Web.Authorization;
@using SciROLabABW.Web.CustomHtmlHelpers;
@model SciROLabABW.Web.ViewModels.WBMainTableDetails_VM

<div class="col-md-7">
    @Html.Partial("_Details")
</div>
<div class="col-md-3">
    @Html.Partial("_ImageView")
</div>