﻿@model List<SciROLabABW.Web.ViewModels.WBMainTableEdit_VM>

<style type="text/css">
    .form-control {
        max-width: 100%;
    }

    #bottomContainer {
        clear: both;
        width: 100%;
        padding-top: 2em;
    }
        
    .modal-body {
        max-height: calc(100vh - 210px);
        overflow-y: auto;
    }
</style>

<div class="modal-header" style="background-color: coral;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="refModalLabel">Edit Selected Rows</h4>
</div>

@using (Html.BeginForm("EditMultiple", "WesternBlot", FormMethod.Post, new { enctype = "multipart/form-data", Id = "postForm" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-body">
        <button class="btn btnRad30" data-dismiss="modal">Cancel</button>
        <input type="submit" value="Save" class="btn btnCoral btnRad30 submitBtn" id="btnReferencesSubmit" name="submit" />
        <hr class="hr-table-coral" />
        <div class="form-horizontal">
            @Html.EditorForModel(Model)
        </div>
    </div>
    <div class="modal-footer">
    </div>
}

@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/App/ProgressAnimation.js"></script>
<script src="~/Scripts/App/FormPostAsyncReload.js"></script>
<script src="~/Scripts/jquery.form.js"></script>
<script src="~/Scripts/App/ExperimentMethodSelector.js"></script>
<script src="~/Scripts/App/WBSetMultipleControlImage.js"></script>
<script src="~/Scripts/App/ImnstSetMultipleControlImage.js"></script>
<script src="~/Scripts/App/LeavePageValidation.js"></script>
<script src="~/Scripts/App/AutoComplete.js"></script>
