﻿@using SciROLabABW.Web.CustomHtmlHelpers;
@model SciROLabABW.Web.ViewModels.WBMainTableDetails_VM

<style type="text/css">
    img.center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #imgBox {
        border: 1px solid #333333;
        width: 600px;
        height: 600px;
        position: relative;
        overflow: hidden;
    }

    #image {
        display: block;
        position: relative;
        width: 600px;  
        height: auto;
        left: 0;
        top: 0;
    }

    #ctrlImgBox {
        border: 1px solid #333333;
        width: 600px;  
        height: 600px;
        position: relative;
        overflow: hidden;
    }

    #ctrlImage {
        display: block;
        position: relative;
        width: 600px;  
        height: auto;
        left: 0;
        top: 0;
    }

    #labelImgBox {
        border: none;
        width: 400px;  
        height: 400px;
        position: relative;
        overflow: hidden;
    }

    #labelImage {
        display: block;
        position: relative;
        width: 400px;  
        height: auto ;
        left: 0;
        top: 0;
    }

    #macroImgBox {
        border: none;
        width: 400px;  
        height: 400px;
        position: relative;
        overflow: hidden;
    }

    #macroImage {
        display: block;
        position: relative;
        width: 400px;  
        height: auto ;
        left: 0;
        top: 0;
    }

    td {
        vertical-align: top;
    }
</style>

<div id="showCtrlCheckBoxDiv" style="display:none">
    Show Control: @Html.CheckBox("checkbox", false, new
    {
        id = "showCtrlCheckBox",
         title = "Check to show control next to the image",
         data_url = Url.Action("GetCtrl", "WesternBlot"),
         data_Id = Model.rowID
    })
</div>

<div id="showImnstCtrlCheckBoxDiv" style="display:none">
    <div>
        Show Positive Control: @Html.CheckBox("checkbox", false, new
        {
            id = "showPosCtrlCheckBox",
            title = "Check to show positive control next to the image",
            data_url = Url.Action("GetImnstCtrl", "WesternBlot"),
            data_Id = Model.rowID
        })
    </div>
    <div>
        Show Negative Control: @Html.CheckBox("checkbox", false, new
        {
            id = "showNegCtrlCheckBox",
            title = "Check to show negative control next to the image",
            data_url = Url.Action("GetImnstCtrl", "WesternBlot"),
            data_Id = Model.rowID
        })
    </div>
</div>
<div>
    @Html.ActionLink("Download Image", "DownloadImage", new { id = Model.rowID })
</div>
<div>
    @Html.ZoomViewHref(Model.storedImagePath, "Display image in DeepZoomView")
</div>
<table>
    <tr>
        <td>
            <h3>Image: </h3> 

            <div style="width: 300px; float: left;">
                @Html.TextBoxFor(model => model.imageName, new {
                id = "imgNameTextBox", @title = this.Model.imageName,
                @readonly = "readonly", @class = "displayNameFormControl",
                data_url = Url.Action("GetImg", "WesternBlot"),
                data_id = Model.rowID, data_method = Model.experimentMethod })
            </div>
            <div style="float: left; margin-right: 10px">
                <input type="button" value="+" id="imgZoomInButton" class="btn btnCoral" title="Zoom-In" />
                <input type="button" value="-" id="imgZoomOutButton" class="btn btnCoral" title="Zoom-Out" />
                <input type="button" value="0" id="imgZoomResetButton" class="btn btnCoral" title="Original Size" />
            </div>
            <div style="float: left; margin: auto;">
                @Html.DropDownList("imgZoomModelList", new List<SelectListItem>()
                {
                    new SelectListItem() { Text= "Zoom Mode", Value = "zoom" ,Selected = true },
                    new SelectListItem() { Text= "Resize Mode", Value = "resize" }
                })
            </div>
            <div id="imgBox" style="float: left; margin-right: 5px;">
                <img src="@Url.Content("~/Content/Images/ajax-indicator-circle-loading.gif")" id="spinnerImage" alt="Processing..." class="center" />
                <img id="image"/>
            </div>
        </td>
        <td>
            <div id="ctrlImgDiv" style="display: none;">
                <h3>Control:</h3>
                <div style="width: 300px; float: left; margin-right: 20px;">
                    @Html.TextBox("Control Image", null, new { @id = "ctrlName", @class = "displayNameFormControl", @readonly = "readonly" })
                </div>
                <div id="ctrlImgBox" style="margin-right: 50px">
                    <img src="@Url.Content("~/Content/Images/ajax-indicator-circle-loading.gif")" id="spinnerCtrl" alt="Processing..." class="center" />
                    <img id="ctrlImage"/>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <p>
             @*Show Label:*@
             @Html.CheckBox("checkbox", true, new
             {
                 style = "display:none",
                 id = "showLabelCheckBox",
                 title = "Check to show label",
                 data_url = Url.Action("GetLabel", "WesternBlot"),
                 data_id = Model.rowID
             })
            </p>

            <div id="labelDiv" style="display: none;">
                <h3>Label:</h3>
                <div id="labelImgBox" style="margin-right: 50px">
                    <img src="@Url.Content("~/Content/Images/ajax-indicator-circle-loading.gif")" id="spinnerLabel" alt="Processing..." class="center" />
                    <img id="labelImage" />
                </div>
            </div>
        </td>
        <td>
            <p>
             @*Show Macro:*@
             @Html.CheckBox("checkbox", true, new
             {
                 style = "display:none",
                 id = "showMacroCheckBox",
                 title = "Check to show macro",
                 data_url = Url.Action("GetMacro", "WesternBlot"),
                 data_id = Model.rowID
             })
            </p>

            <div id="macroDiv" style="display: none;">
                <h3>Macro:</h3>
                <div id="macroImgBox" style="margin-right: 50px">
                    <img src="@Url.Content("~/Content/Images/ajax-indicator-circle-loading.gif")" id="spinnerMacro" alt="Processing..." class="center" />
                    <img id="macroImage" />
                </div>
            </div>
        </td>
    </tr>
</table>