﻿@model SciROLabABW.Web.ViewModels.WBMainTableDelete_VM

<dt>
    @Html.DisplayNameFor(model => model.experimentMethod)
</dt>
<dd>
    <div style="word-wrap: break-word;">
        @Html.DisplayFor(model => model.experimentMethod)
    </div>
</dd>

<dt>
    @Html.DisplayNameFor(model => model.experimentID)
</dt>

<dd>
    <div style="word-wrap: break-word;">
        @Html.DisplayFor(model => model.experimentID)
    </div>
</dd>

<dt>
    @Html.DisplayNameFor(model => model.experimentDate)
</dt>

<dd>
    <div style="word-wrap: break-word;">
        @Html.DisplayFor(model => model.experimentDate, "ToShortDateString")
    </div>
</dd>

<dt>
    @Html.DisplayNameFor(model => model.experimentInfo)
</dt>

<dd>
    <div style="word-wrap: break-word;">
        @Html.DisplayFor(model => model.experimentInfo)
    </div>
</dd>

<dt>
    @Html.DisplayNameFor(model => model.performer)
</dt>

<dd>
    <div style="word-wrap: break-word;">
        @Html.DisplayFor(model => model.performer)
    </div>
</dd>

<dt>
    @Html.DisplayNameFor(model => model.slideDate)
</dt>

<dd>
    <div style="word-wrap: break-word;">
        @Html.DisplayFor(model => model.slideDate, "ToShortDateString")
    </div>
</dd>

<dt>
    @Html.DisplayNameFor(model => model.blockID)
</dt>

<dd>
    <div style="word-wrap: break-word;">
        @Html.DisplayFor(model => model.blockID)
    </div>
</dd>

<dt>
    @Html.DisplayNameFor(model => model.primaryAntibodyId)
</dt>

<dd>
    <div style="word-wrap: break-word;">
        @Html.DisplayFor(model => model.primaryAntibodyId)
    </div>
</dd>

<dt>
    @Html.DisplayNameFor(model => model.primaryAntibody)
</dt>

<dd>
    <div style="word-wrap: break-word;">
        @Html.DisplayFor(model => model.primaryAntibody)
    </div>
</dd>

<dt>
    @Html.DisplayNameFor(model => model.secondaryAntibody)
</dt>

<dd>
    <div style="word-wrap: break-word;">
        @Html.DisplayFor(model => model.secondaryAntibody)
    </div>
</dd>

<dt>
    @Html.DisplayNameFor(model => model.comments)
</dt>

<dd>
    <div style="word-wrap: break-word;">
        @Html.DisplayFor(model => model.comments)
    </div>
</dd>

<dt>
    @Html.DisplayNameFor(model => model.posControl)
</dt>

<dd>
    <div style="word-wrap: break-word;">
        @Html.DisplayFor(model => model.posControl)
    </div>
</dd>

<dt>
    @Html.DisplayNameFor(model => model.negControl)
</dt>

<dd>
    <div style="word-wrap: break-word;">
        @Html.DisplayFor(model => model.negControl)
    </div>
</dd>

