﻿@model SciROLabABW.Web.ViewModels.WBMainTableEdit_VM

<div class="form-group">
    @Html.LabelFor(model => model.experimentMethod, htmlAttributes: new { @class = "col-md-2" })
    <div class="col-md-10" style="word-wrap: break-word;">
        @Html.DisplayFor(model => model.experimentMethod, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    @Html.HiddenFor(model => model.experimentMethod)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.experimentID, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.experimentID, new { htmlAttributes = new { @class = "form-control autoComplete" } })
        @Html.ValidationMessageFor(model => model.experimentID, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.experimentDate, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.experimentDate, new { htmlAttributes = new { @class = "form-control autoComplete" } })
        @Html.ValidationMessageFor(model => model.experimentDate, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.experimentInfo, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.experimentInfo, new { htmlAttributes = new { @class = "form-control autoComplete" } })
        @Html.ValidationMessageFor(model => model.experimentInfo, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.performer, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.performer, new { htmlAttributes = new { @class = "form-control autoComplete" } })
        @Html.ValidationMessageFor(model => model.performer, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.slideDate, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.slideDate, new { htmlAttributes = new { @class = "form-control autoComplete" } })
        @Html.ValidationMessageFor(model => model.slideDate, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.blockID, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.blockID, new { htmlAttributes = new { @class = "form-control autoComplete" } })
        @Html.ValidationMessageFor(model => model.blockID, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.primaryAntibodyId, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.primaryAntibodyId, new { htmlAttributes = new { @id = "primaryAntibodyId", @class = "form-control autoComplete" } })
        @Html.ValidationMessageFor(model => model.primaryAntibodyId, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.primaryAntibody, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.primaryAntibody, new { htmlAttributes = new { @class = "form-control autoComplete" } })
        @Html.ValidationMessageFor(model => model.primaryAntibody, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.secondaryAntibody, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.secondaryAntibody, new { htmlAttributes = new { @class = "form-control autoComplete" } })
        @Html.ValidationMessageFor(model => model.secondaryAntibody, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.comments, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.comments, new { htmlAttributes = new { @class = "form-control autoComplete" } })
        @Html.ValidationMessageFor(model => model.comments, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.posControl, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <div class="checkbox">
            @Html.EditorFor(model => model.posControl, new { htmlAttributes = new { @id = "posCtrlImgCheckBox", data_url = @Url.Action("SetImnstControlImage", "WesternBlot"), data_id = Model.rowID } })
            @Html.ValidationMessageFor(model => model.posControl, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.negControl, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <div class="checkbox">
            @Html.EditorFor(model => model.negControl, new { htmlAttributes = new { @id = "negCtrlImgCheckBox", data_url = @Url.Action("SetImnstControlImage", "WesternBlot"), data_id = Model.rowID } })
            @Html.ValidationMessageFor(model => model.negControl, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
