﻿@model SciROLabABW.Web.ViewModels.WBReferenceEditURL_VM

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="refModalLabel">Edit Reference</h4>
</div>

@using (Html.BeginForm("EditReferenceURL", "WesternBlot", FormMethod.Post, new { enctype = "multipart/form-data", Id = "postForm" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.fullPath)
            @Html.HiddenFor(model => model.mainTableID)
            @Html.HiddenFor(model => model.referenceID)
            @Html.HiddenFor(model => model.refLocation)
            @Html.HiddenFor(model => model.rowID)
            @Html.HiddenFor(model => model.userName)

            <div style="height: 250px; overflow: auto; border: 1px solid coral;">
                <table class="table">
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.link)
                            @Html.EditorFor(model => model.link, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.link, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btnRad30" data-dismiss="modal">Cancel</button>
        <input type="submit" value="OK" class="btn btnCoral btnRad30" id="btnReferencesSubmit" name="submit" />
    </div>
}

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/RefModalFormPost")
<script src="~/Scripts/App/ProgressAnimation.js"></script>
<script src="~/Scripts/App/FormPostAsyncReload.js"></script>
<script src="~/Scripts/jquery.form.js"></script>


