﻿@using SciROLabABW.Web.Authorization;
@model SciROLabABW.Web.ViewModels.WBMainTableIndex_VM

<style type="text/css">
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown .dropdown-menu {
        position: absolute;
        top: -50%;
        left: 100%;
        margin: 0px;
    }
</style>

    @Html.Label("References: ")

    @if (AccessAuthorization.IsUserEditDelAutorized(User.Identity.Name, Model.userName))
    {
        <div class="btn-group">
            <button type="button" class="btn btnLinkStyle dropdown-toggle" data-toggle="dropdown" data-close-others="true">
                <span>Add New   </span><span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("Add URL", "CreateReference", "WesternBlot", new { @class = "modifyReferences", data_id = @Model.rowID, data_url = @Url.Action("CreateReferenceURL", "WesternBlot") })</li>
                <li>@Html.ActionLink("Add File", "CreateReference", "WesternBlot", new { @class = "modifyReferences", data_id = @Model.rowID, data_url = @Url.Action("CreateReferenceFile", "WesternBlot") })</li>
                <li>@Html.ActionLink("Add Multiple Files", "RefCreateFiles", "WesternBlot", new { id = Model.rowID }, new { @class = "keepMainViewLocation" })</li>
            </ul>
        </div>
    }
    <div class="smlBoxDiv">
        <table class="table">
            @foreach (var item in Model.WBReferencesTable)
            {
                if ((item != null) && (item.link != null))
                {
                    <tr>
                        @if (AccessAuthorization.IsUserEditDelAutorized(User.Identity.Name, item.userName))
                        {
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu">
                                    @if (@item.refLocation == "URL")
                                    {
                                        @*There is no point to edit any other kind of ref. User should just delete it.*@
                                        <li><button class="btn btnLinkStyle modifyReferences" data-id="@item.rowID" data-url=@Url.Action("EditReference", "WesternBlot")>Edit</button></li>
                                    }
                                    <li><button class="btn btnLinkStyle modifyReferences" data-id="@item.rowID" data-url=@Url.Action("DeleteReference", "WesternBlot")>Delete</button></li>
                                </ul>
                            </div>
                        </td>
                        }
                        <td>
                            @if (item.refLocation == "URL")
                            {
                                @Html.ActionLink(item.link, "GetReference", new { id = item.rowID }, new { target = "_blank" })
                            }
                            else
                            {
                                @Html.ActionLink(item.link, "GetReference", new { id = item.rowID })
                            }
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
