﻿@model SciROLabABW.Web.ViewModels.WBMainTableDetails_VM

<dt>
    @Html.DisplayNameFor(model => model.experimentMethod)
</dt>
<dd>
    <div style="word-wrap: break-word;">
        @Html.DisplayFor(model => model.experimentMethod)
    </div>
</dd>

<dt>
    @Html.DisplayNameFor(model => model.experimentID)
</dt>
<dd>
    <div style="word-wrap: break-word;">
        @Html.DisplayFor(model => model.experimentID)
    </div>
</dd>

<dt>
    @Html.DisplayNameFor(model => model.experimentDate)
</dt>
<dd>
    <div style="word-wrap: break-word;">
        @Html.DisplayFor(model => model.experimentDate, "ToShortDateString")
    </div>
</dd>

<dt>
    @Html.DisplayNameFor(model => model.experimentInfo)
</dt>
<dd>
    <div style="word-wrap: break-word;">
        @Html.DisplayFor(model => model.experimentInfo)
    </div>
</dd>

<dt>
    @Html.DisplayNameFor(model => model.performer)
</dt>
<dd>
    <div style="word-wrap: break-word;">
        @Html.DisplayFor(model => model.performer)
    </div>
</dd>

@if ((Model.Text1Name != null) && (Model.Text1Name != ""))
{
    <dt>
        @Html.DisplayName(Model.Text1Name + ":")
    </dt>
    <dd>
        <div style="word-wrap: break-word;">
            @Html.DisplayFor(model => model.Text1)
        </div>
    </dd>
}

@if ((Model.Text2Name != null) && (Model.Text2Name != ""))
{
    <dt>
        @Html.DisplayName(Model.Text2Name + ":")
    </dt>
    <dd>
        <div style="word-wrap: break-word;">
            @Html.DisplayFor(model => model.Text2)
        </div>
    </dd>
}

@if ((Model.Text3Name != null) && (Model.Text3Name != ""))
{
    <dt>
        @Html.DisplayName(Model.Text3Name + ":")
    </dt>
    <dd>
        <div style="word-wrap: break-word;">
            @Html.DisplayFor(model => model.Text3)
        </div>
    </dd>
}

@if ((Model.Text4Name != null) && (Model.Text4Name != ""))
{
    <dt>
        @Html.DisplayName(Model.Text4Name + ":")
    </dt>
    <dd>
        <div style="word-wrap: break-word;">
            @Html.DisplayFor(model => model.Text4)
        </div>
    </dd>
}

@if ((Model.Text5Name != null) && (Model.Text5Name != ""))
{
    <dt>
        @Html.DisplayName(Model.Text5Name + ":")
    </dt>
    <dd>
        <div style="word-wrap: break-word;">
            @Html.DisplayFor(model => model.Text5)
        </div>
    </dd>
}

@if ((Model.Text6Name != null) && (Model.Text6Name != ""))
{
    <dt>
        @Html.DisplayName(Model.Text6Name + ":")
    </dt>
    <dd>
        <div style="word-wrap: break-word;">
            @Html.DisplayFor(model => model.Text6)
        </div>
    </dd>
}

@if ((Model.Text7Name != null) && (Model.Text7Name != ""))
{
    <dt>
        @Html.DisplayName(Model.Text7Name + ":")
    </dt>
    <dd>
        <div style="word-wrap: break-word;">
            @Html.DisplayFor(model => model.Text7)
        </div>
    </dd>
}

@if ((Model.Text8Name != null) && (Model.Text8Name != ""))
{
    <dt>
        @Html.DisplayName(Model.Text8Name + ":")
    </dt>
    <dd>
        <div style="word-wrap: break-word;">
            @Html.DisplayFor(model => model.Text8)
        </div>
    </dd>
}

@if ((Model.Text9Name != null) && (Model.Text9Name != ""))
{
    <dt>
        @Html.DisplayName(Model.Text9Name + ":")
    </dt>
    <dd>
        <div style="word-wrap: break-word;">
            @Html.DisplayFor(model => model.Text9)
        </div>
    </dd>
}

@if ((Model.Text10Name != null) && (Model.Text10Name != ""))
{
    <dt>
        @Html.DisplayName(Model.Text10Name + ":")
    </dt>
    <dd>
        <div style="word-wrap: break-word;">
            @Html.DisplayFor(model => model.Text10)
        </div>
    </dd>
}

@if ((Model.Text11Name != null) && (Model.Text11Name != ""))
{
    <dt>
        @Html.DisplayName(Model.Text11Name + ":")
    </dt>
    <dd>
        <div style="word-wrap: break-word;">
            @Html.DisplayFor(model => model.Text11)
        </div>
    </dd>
}

@if ((Model.Text12Name != null) && (Model.Text12Name != ""))
{
    <dt>
        @Html.DisplayName(Model.Text12Name + ":")
    </dt>
    <dd>
        <div style="word-wrap: break-word;">
            @Html.DisplayFor(model => model.Text12)
        </div>
    </dd>
}
@if ((Model.Text13Name != null) && (Model.Text13Name != ""))
{
    <dt>
        @Html.DisplayName(Model.Text13Name + ":")
    </dt>
    <dd>
        <div style="word-wrap: break-word;">
            @Html.DisplayFor(model => model.Text13)
        </div>
    </dd>
}
@if ((Model.Text14Name != null) && (Model.Text14Name != ""))
{
    <dt>
        @Html.DisplayName(Model.Text14Name + ":")
    </dt>
    <dd>
        <div style="word-wrap: break-word;">
            @Html.DisplayFor(model => model.Text14)
        </div>
    </dd>
}
@if ((Model.Text15Name != null) && (Model.Text15Name != ""))
{
    <dt>
        @Html.DisplayName(Model.Text15Name + ":")
    </dt>
    <dd>
        <div style="word-wrap: break-word;">
            @Html.DisplayFor(model => model.Text15)
        </div>
    </dd>
}
@if ((Model.Date1Name != null) && (Model.Date1Name != ""))
{
    <dt>
        @Html.DisplayName(Model.Date1Name + ":")
    </dt>
    <dd>
        <div style="word-wrap: break-word;">
            @Html.DisplayFor(model => model.Date1, "ToShortDateString")
        </div>
    </dd>
}

@if ((Model.Date2Name != null) && (Model.Date2Name != ""))
{
    <dt>
        @Html.DisplayName(Model.Date2Name + ":")
    </dt>
    <dd>
        <div style="word-wrap: break-word;">
            @Html.DisplayFor(model => model.Date2, "ToShortDateString")
        </div>
    </dd>
}

@if ((Model.Date3Name != null) && (Model.Date3Name != ""))
{
    <dt>
        @Html.DisplayName(Model.Date3Name + ":")
    </dt>
    <dd>
        <div style="word-wrap: break-word;">
            @Html.DisplayFor(model => model.Date3, "ToShortDateString")
        </div>
    </dd>
}

@if ((Model.Bool1Name != null) && (Model.Bool1Name != ""))
{
    <dt>
        @Html.DisplayName(Model.Bool1Name + ":")
    </dt>
    <dd>
        <div style="word-wrap: break-word;">
            @Html.DisplayFor(model => model.Bool1)
        </div>
    </dd>
}

@if ((Model.Bool2Name != null) && (Model.Bool2Name != ""))
{
    <dt>
        @Html.DisplayName(Model.Bool2Name + ":")
    </dt>
    <dd>
        <div style="word-wrap: break-word;">
            @Html.DisplayFor(model => model.Bool2)
        </div>
    </dd>
}

@if ((Model.Bool3Name != null) && (Model.Bool3Name != ""))
{
    <dt>
        @Html.DisplayName(Model.Bool3Name + ":")
    </dt>
    <dd>
        <div style="word-wrap: break-word;">
            @Html.DisplayFor(model => model.Bool3)
        </div>
    </dd>
}
@if ((Model.Bool4Name != null) && (Model.Bool4Name != ""))
{
    <dt>
        @Html.DisplayName(Model.Bool4Name + ":")
    </dt>
    <dd>
        <div style="word-wrap: break-word;">
            @Html.DisplayFor(model => model.Bool4)
        </div>
    </dd>
}
@if ((Model.Bool5Name != null) && (Model.Bool5Name != ""))
{
    <dt>
        @Html.DisplayName(Model.Bool5Name + ":")
    </dt>
    <dd>
        <div style="word-wrap: break-word;">
            @Html.DisplayFor(model => model.Bool5)
        </div>
    </dd>
}
@if ((Model.Bool6Name != null) && (Model.Bool6Name != ""))
{
    <dt>
        @Html.DisplayName(Model.Bool6Name + ":")
    </dt>
    <dd>
        <div style="word-wrap: break-word;">
            @Html.DisplayFor(model => model.Bool6)
        </div>
    </dd>
}
@if ((Model.Bool7Name != null) && (Model.Bool7Name != ""))
{
    <dt>
        @Html.DisplayName(Model.Bool7Name + ":")
    </dt>
    <dd>
        <div style="word-wrap: break-word;">
            @Html.DisplayFor(model => model.Bool7)
        </div>
    </dd>
}
@if ((Model.Bool8Name != null) && (Model.Bool8Name != ""))
{
    <dt>
        @Html.DisplayName(Model.Bool8Name + ":")
    </dt>
    <dd>
        <div style="word-wrap: break-word;">
            @Html.DisplayFor(model => model.Bool8)
        </div>
    </dd>
}

<dt>
    @Html.DisplayNameFor(model => model.comments)
</dt>
<dd>
    <div style="word-wrap: break-word;">
        @Html.DisplayFor(model => model.comments)
    </div>
</dd>
