﻿@model SciROLabABW.Web.ViewModels.WBMainTableCreate_VM

<div class="form-group">
    @Html.LabelFor(model => model.groupName, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.groupName, new { htmlAttributes = new { @class = "form-control autoComplete" } })
        @Html.ValidationMessageFor(model => model.groupName, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.experimentID, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.experimentID, new { htmlAttributes = new { @id = "experimentID", @class = "form-control autoComplete" } })
        @Html.ValidationMessageFor(model => model.experimentID, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.experimentDate, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.experimentDate, new { htmlAttributes = new { @class = "form-control autoComplete" } })
        @Html.ValidationMessageFor(model => model.experimentDate, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.experimentInfo, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.experimentInfo, new { htmlAttributes = new { @class = "form-control autoComplete" } })
        @Html.ValidationMessageFor(model => model.experimentInfo, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.performer, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.performer, new { htmlAttributes = new { @class = "form-control autoComplete" } })
        @Html.ValidationMessageFor(model => model.performer, "", new { @class = "text-danger" })
    </div>
</div>

@if ((Model.Text1Name != null) && (Model.Text1Name != ""))
{
    <div class="form-group">
        @Html.Label(Model.Text1Name + ":", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Text1, new { htmlAttributes = new { @class = "form-control autoComplete" } })
            @Html.ValidationMessageFor(model => model.Text1, "", new { @class = "text-danger" })
        </div>
    </div>
}

@if ((Model.Text2Name != null) && (Model.Text2Name != ""))
{
    <div class="form-group">
        @Html.Label(Model.Text2Name + ":", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Text2, new { htmlAttributes = new { @id = "membraneID", @class = "form-control autoComplete" } })
            @Html.ValidationMessageFor(model => model.Text2, "", new { @class = "text-danger" })
        </div>
    </div>
}

@if ((Model.Text3Name != null) && (Model.Text3Name != ""))
{
    <div class="form-group">
        @Html.Label(Model.Text3Name + ":", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Text3, new { htmlAttributes = new { @class = "form-control autoComplete" } })
            @Html.ValidationMessageFor(model => model.Text3, "", new { @class = "text-danger" })
        </div>
    </div>
}

@if ((Model.Text4Name != null) && (Model.Text4Name != ""))
{
    <div class="form-group">
        @Html.Label(Model.Text4Name + ":", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Text4, new { htmlAttributes = new { @class = "form-control autoComplete" } })
            @Html.ValidationMessageFor(model => model.Text4, "", new { @class = "text-danger" })
        </div>
    </div>
}

@if ((Model.Text5Name != null) && (Model.Text5Name != ""))
{
    <div class="form-group">
        @Html.Label(Model.Text5Name + ":", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Text5, new { htmlAttributes = new { @class = "form-control autoComplete" } })
            @Html.ValidationMessageFor(model => model.Text5, "", new { @class = "text-danger" })
        </div>
    </div>
}

@if ((Model.Text6Name != null) && (Model.Text6Name != ""))
{
    <div class="form-group">
        @Html.Label(Model.Text6Name + ":", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Text6, new { htmlAttributes = new { @class = "form-control autoComplete" } })
            @Html.ValidationMessageFor(model => model.Text6, "", new { @class = "text-danger" })
        </div>
    </div>
}

@if ((Model.Text7Name != null) && (Model.Text7Name != ""))
{
    <div class="form-group">
        @Html.Label(Model.Text7Name + ":", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Text7, new { htmlAttributes = new { @class = "form-control autoComplete" } })
            @Html.ValidationMessageFor(model => model.Text7, "", new { @class = "text-danger" })
        </div>
    </div>
}

@if ((Model.Text8Name != null) && (Model.Text8Name != ""))
{
    <div class="form-group">
        @Html.Label(Model.Text8Name + ":", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Text8, new { htmlAttributes = new { @class = "form-control autoComplete" } })
            @Html.ValidationMessageFor(model => model.Text8, "", new { @class = "text-danger" })
        </div>
    </div>
}

@if ((Model.Text9Name != null) && (Model.Text9Name != ""))
{
    <div class="form-group">
        @Html.Label(Model.Text9Name + ":", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Text9, new { htmlAttributes = new { @class = "form-control autoComplete" } })
            @Html.ValidationMessageFor(model => model.Text9, "", new { @class = "text-danger" })
        </div>
    </div>
}

@if ((Model.Text10Name != null) && (Model.Text10Name != ""))
{
    <div class="form-group">
        @Html.Label(Model.Text10Name + ":", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Text10, new { htmlAttributes = new { @class = "form-control autoComplete" } })
            @Html.ValidationMessageFor(model => model.Text10, "", new { @class = "text-danger" })
        </div>
    </div>
}

@if ((Model.Text11Name != null) && (Model.Text11Name != ""))
{
    <div class="form-group">
        @Html.Label(Model.Text11Name + ":", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Text11, new { htmlAttributes = new { @class = "form-control autoComplete" } })
            @Html.ValidationMessageFor(model => model.Text11, "", new { @class = "text-danger" })
        </div>
    </div>
}

@if ((Model.Text12Name != null) && (Model.Text12Name != ""))
{
    <div class="form-group">
        @Html.Label(Model.Text12Name + ":", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Text12, new { htmlAttributes = new { @class = "form-control autoComplete" } })
            @Html.ValidationMessageFor(model => model.Text12, "", new { @class = "text-danger" })
        </div>
    </div>
}

@if ((Model.Text13Name != null) && (Model.Text13Name != ""))
{
    <div class="form-group">
        @Html.Label(Model.Text13Name + ":", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Text13, new { htmlAttributes = new { @class = "form-control autoComplete" } })
            @Html.ValidationMessageFor(model => model.Text13, "", new { @class = "text-danger" })
        </div>
    </div>
}

@if ((Model.Text14Name != null) && (Model.Text14Name != ""))
{
    <div class="form-group">
        @Html.Label(Model.Text14Name + ":", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Text14, new { htmlAttributes = new { @class = "form-control autoComplete" } })
            @Html.ValidationMessageFor(model => model.Text14, "", new { @class = "text-danger" })
        </div>
    </div>
}

@if ((Model.Text15Name != null) && (Model.Text15Name != ""))
{
    <div class="form-group">
        @Html.Label(Model.Text15Name + ":", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Text15, new { htmlAttributes = new { @class = "form-control autoComplete" } })
            @Html.ValidationMessageFor(model => model.Text15, "", new { @class = "text-danger" })
        </div>
    </div>
}

@if ((Model.Date1Name != null) && (Model.Date1Name != ""))
{
    <div class="form-group">
        @Html.Label(Model.Date1Name + ":", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Date1, new { htmlAttributes = new { @class = "form-control autoComplete" } })
            @Html.ValidationMessageFor(model => model.Date1, "", new { @class = "text-danger" })
        </div>
    </div>
}

@if ((Model.Date2Name != null) && (Model.Date2Name != ""))
{
    <div class="form-group">
        @Html.Label(Model.Date2Name + ":", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Date2, new { htmlAttributes = new { @class = "form-control autoComplete" } })
            @Html.ValidationMessageFor(model => model.Date2, "", new { @class = "text-danger" })
        </div>
    </div>
}

@if ((Model.Date3Name != null) && (Model.Date3Name != ""))
{
    <div class="form-group">
        @Html.Label(Model.Date3Name + ":", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Date3, new { htmlAttributes = new { @class = "form-control autoComplete" } })
            @Html.ValidationMessageFor(model => model.Date3, "", new { @class = "text-danger" })
        </div>
    </div>
}

@if ((Model.Bool1Name != null) && (Model.Bool1Name != ""))
{
    <div class="form-group">
        @Html.Label(Model.Bool1Name + ":", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Bool1)
                @Html.ValidationMessageFor(model => model.Bool1, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}

@if ((Model.Bool2Name != null) && (Model.Bool2Name != ""))
{
    <div class="form-group">
        @Html.Label(Model.Bool2Name + ":", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Bool2)
                @Html.ValidationMessageFor(model => model.Bool2, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}

@if ((Model.Bool3Name != null) && (Model.Bool3Name != ""))
{
    <div class="form-group">
        @Html.Label(Model.Bool3Name + ":", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Bool3)
                @Html.ValidationMessageFor(model => model.Bool3, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}

@if ((Model.Bool4Name != null) && (Model.Bool4Name != ""))
{
    <div class="form-group">
        @Html.Label(Model.Bool4Name + ":", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Bool4)
                @Html.ValidationMessageFor(model => model.Bool4, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}

@if ((Model.Bool5Name != null) && (Model.Bool5Name != ""))
{
    <div class="form-group">
        @Html.Label(Model.Bool5Name + ":", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Bool5)
                @Html.ValidationMessageFor(model => model.Bool5, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}
@if ((Model.Bool6Name != null) && (Model.Bool6Name != ""))
{
    <div class="form-group">
        @Html.Label(Model.Bool6Name + ":", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Bool6)
                @Html.ValidationMessageFor(model => model.Bool6, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}

@if ((Model.Bool7Name != null) && (Model.Bool7Name != ""))
{
    <div class="form-group">
        @Html.Label(Model.Bool7Name + ":", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Bool7)
                @Html.ValidationMessageFor(model => model.Bool7, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}

@if ((Model.Bool8Name != null) && (Model.Bool8Name != ""))
{
    <div class="form-group">
        @Html.Label(Model.Bool8Name + ":", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Bool8)
                @Html.ValidationMessageFor(model => model.Bool8, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}
<div class="form-group">
    @Html.LabelFor(model => model.comments, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.comments, new { htmlAttributes = new { @class = "form-control autoComplete" } })
        @Html.ValidationMessageFor(model => model.comments, "", new { @class = "text-danger" })
    </div>
</div>

@Html.HiddenFor(model => model.Text1Name)
@Html.HiddenFor(model => model.Text2Name)
@Html.HiddenFor(model => model.Text3Name)
@Html.HiddenFor(model => model.Text4Name)
@Html.HiddenFor(model => model.Text5Name)
@Html.HiddenFor(model => model.Text6Name)
@Html.HiddenFor(model => model.Text7Name)
@Html.HiddenFor(model => model.Text8Name)
@Html.HiddenFor(model => model.Text9Name)
@Html.HiddenFor(model => model.Text10Name)
@Html.HiddenFor(model => model.Text11Name)
@Html.HiddenFor(model => model.Text12Name)
@Html.HiddenFor(model => model.Text13Name)
@Html.HiddenFor(model => model.Text14Name)
@Html.HiddenFor(model => model.Text15Name)
@Html.HiddenFor(model => model.Date1Name)
@Html.HiddenFor(model => model.Date2Name)
@Html.HiddenFor(model => model.Date3Name)
@Html.HiddenFor(model => model.Bool1Name)
@Html.HiddenFor(model => model.Bool2Name)
@Html.HiddenFor(model => model.Bool3Name)
@Html.HiddenFor(model => model.Bool4Name)
@Html.HiddenFor(model => model.Bool5Name)
@Html.HiddenFor(model => model.Bool6Name)
@Html.HiddenFor(model => model.Bool7Name)
@Html.HiddenFor(model => model.Bool8Name)

<script src="~/Scripts/App/AutoComplete.js"></script>

