﻿@using SciROLabABW.Web.CustomHtmlHelpers;

@model IList<SciROLabABW.Web.ViewModels.WBMainTableIndex_VM>

@for (var i = 0; i < Model.Count; i++)
{
    <div>
        <a href="@Url.Action("Details", new { id = @Model[i].rowID })" id=item.rowID title="Drag & Drop to reorder. Click to go to Image View." class="keepMainViewLocation">
            <img src="@Html.DisplayImageByteArray(Model[i].image)" width="300" />
            <div>
                @Html.LabelForModel(Model[i].imageName, new { title = Model[i].imageName })
            </div>
        </a>
    </div>        
}
<p style="clear: both;"></p>

