﻿@using SciROLabABW.Web.CustomHtmlHelpers;

@model IList<SciROLabABW.Web.ViewModels.WBMainTableIndex_VM>

<style>
    .form-control {
        max-width: 100%;
    }
    
    #bottomContainer {
        clear: both;
        width: 100%;
        padding-top: 2em;
    }

    #sortable div {
        margin: 3px 3px 3px 3px;
        padding: 0px;
        float: left;
        width: 400px;
        height: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 1em;
        text-align: left;
    }

    .modal-body {
        max-height: calc(100vh - 210px);
        overflow-y: auto;
    }
</style>

<div class="modal-header" style="background-color: coral;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="refModalLabel">Tile View Selected Rows</h4>
</div>

@using (Html.BeginForm("SelectedRowsTileView", "WesternBlot", FormMethod.Get, new { enctype = "multipart/form-data", Id = "postForm" }))
{
    <div class="modal-body">
        <button class="btn btnRad30" data-dismiss="modal">Close</button>
        <hr class="hr-table-coral" />
        
        <div class="infiniteScrolling" id="sortable" data-url="@Url.Action("TileView", "WesternBlot")">
            @Html.Partial("_TileView", Model)
        </div>
    </div>
    <div class="modal-footer"> </div>
}

<script src="~/Scripts/App/ProgressAnimation.js"></script>
<script src="~/Scripts/App/Sortable.js"></script>
<script src="~/Scripts/App/infiniteScrolling.js"></script>

