﻿@model SciROLabABW.Web.ViewModels.WBMainTableIndex_VM

<dt>
    @Html.DisplayNameFor(model => model.experimentMethod)
</dt>
<dd>
    <div style="word-wrap: break-word;">
        @Html.DisplayFor(model => model.experimentMethod)
    </div>
</dd>

<dt>
    @Html.DisplayNameFor(model => model.experimentID)
</dt>
<dd>
    <div style="word-wrap: break-word;">
        @Html.DisplayFor(model => model.experimentID)
    </div>
</dd>

<dt>
    @Html.DisplayNameFor(model => model.experimentDate)
</dt>
<dd>
    <div style="word-wrap: break-word;">
        @Html.DisplayFor(model => model.experimentDate, "ToShortDateString")
    </div>
</dd>

<dt>
    @Html.DisplayNameFor(model => model.performer)
</dt>
<dd>
    <div style="word-wrap: break-word;">
        @Html.DisplayFor(model => model.performer)
    </div>
</dd>

<dt>
    @Html.DisplayNameFor(model => model.membraneInfo)
</dt>
<dd>
    <div style="word-wrap: break-word;">
        @Html.DisplayFor(model => model.membraneInfo)
    </div>
</dd>

<dt>
    @Html.DisplayNameFor(model => model.membraneID)
</dt>
<dd>
    <div style="word-wrap: break-word;">
        @Html.DisplayFor(model => model.membraneID)
    </div>
</dd>

<dt>
    @Html.DisplayNameFor(model => model.membraneDate)
</dt>
<dd>
    <div style="word-wrap: break-word;">
        @Html.DisplayFor(model => model.membraneDate, "ToShortDateString")
    </div>
</dd>

<dt>
    @Html.DisplayNameFor(model => model.blot)
</dt>
<dd>
    <div style="word-wrap: break-word;">
        @Html.DisplayFor(model => model.blot)
    </div>
</dd>

<dt>
    @Html.DisplayNameFor(model => model.blotDate)
</dt>
<dd>
    <div style="word-wrap: break-word;">
        @Html.DisplayFor(model => model.blotDate, "ToShortDateString")
    </div>
</dd>

<dt>
    @Html.DisplayNameFor(model => model.primaryAntibody)
</dt>
<dd>
    <div style="word-wrap: break-word;">
        @Html.DisplayFor(model => model.primaryAntibody)
    </div>
</dd>

<dt>
    @Html.DisplayNameFor(model => model.comments)
</dt>
<dd>
    <div style="word-wrap: break-word;">
        @Html.DisplayFor(model => model.comments)
    </div>
</dd>

<dt>
    @Html.DisplayNameFor(model => model.control)
</dt>
<dd>
    <div style="word-wrap: break-word;">
        @Html.DisplayFor(model => model.control)
    </div>
</dd>
