﻿@model SciROLabABW.Web.ViewModels.WBMainTableCreate_VM

<div class="form-group">
    @Html.LabelFor(model => model.groupName, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.groupName, new { htmlAttributes = new { @class = "form-control autoComplete" } })
        @Html.ValidationMessageFor(model => model.groupName, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.experimentID, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.experimentID, new { htmlAttributes = new { @id = "experimentID", @class = "form-control autoComplete" } })
        @Html.ValidationMessageFor(model => model.experimentID, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.experimentDate, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.experimentDate, new { htmlAttributes = new { @class = "form-control autoComplete" } })
        @Html.ValidationMessageFor(model => model.experimentDate, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.performer, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.performer, new { htmlAttributes = new { @class = "form-control autoComplete" } })
        @Html.ValidationMessageFor(model => model.performer, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.membraneInfo, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.membraneInfo, new { htmlAttributes = new { @class = "form-control autoComplete" } })
        @Html.ValidationMessageFor(model => model.membraneInfo, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.membraneID, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.membraneID, new { htmlAttributes = new { @id = "membraneID", @class = "form-control autoComplete" } })
        @Html.ValidationMessageFor(model => model.membraneID, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.membraneDate, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.membraneDate, new { htmlAttributes = new { @class = "form-control autoComplete" } })
        @Html.ValidationMessageFor(model => model.membraneDate, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.blot, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.blot, new { htmlAttributes = new { @class = "form-control autoComplete" } })
        @Html.ValidationMessageFor(model => model.blot, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.blotDate, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.blotDate, new { htmlAttributes = new { @class = "form-control autoComplete" } })
        @Html.ValidationMessageFor(model => model.blotDate, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.primaryAntibody, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.primaryAntibody, new { htmlAttributes = new { @class = "form-control autoComplete" } })
        @Html.ValidationMessageFor(model => model.primaryAntibody, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.comments, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.comments, new { htmlAttributes = new { @class = "form-control autoComplete" } })
        @Html.ValidationMessageFor(model => model.comments, "", new { @class = "text-danger" })
    </div>
</div>

<script src="~/Scripts/App/AutoComplete.js"></script>
