﻿@model SciROLabABW.Web.ViewModels.WBMainTableCreate_VM

@Styles.Render("~/Content/dropzonescss")

@{
    ViewBag.Title = "Add New";
}

<h2>Add New</h2>
<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "backActionLink" })
</div>
<link href="~/Scripts/dropzone/basic.css" rel="stylesheet" />
<link href="~/Scripts/dropzone/dropzone.css" rel="stylesheet" />
<button id="addFiles" class="btn btnCoral btnRad30">
    <i class="glyphicon glyphicon-plus-sign"></i>
    <span>Add files</span>
</button>
<button id="cancelAll" class="btn btn-danger btnRad30">
    <i class="glyphicon glyphicon-ban-circle"></i>
    <span>Cancel upload</span>
</button>
<button id="delAll" class="btn btn-danger btnRad30">
    <i class="glyphicon glyphicon-trash"></i>
    <span>Clear view</span>
</button>

@using (Html.BeginForm("Create", "WesternBlot", FormMethod.Post, new { enctype = "multipart/form-data", @id = "dropzoneForm", @class = "dropzone" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal col-md-5">
        @Html.Label("Method: ") 
        @Html.DropDownListFor(m => m.SelectedMethod, Model.MethodsList, null, new { 
            @id = "experimentMethodCreateView", data_url = Url.Action("experimentMethodCreateView", "WesternBlot") })
        <img src="~/Content/Images/help.png" width="24" height="24" data-toggle="tooltip"
             title="Select a method from the list to automatically assign it to the image during upload. You won't be able to change it later!
         If you choose not to assign any method you'll be able to add it manually later on." />
        @Html.ActionLink("Add New Method", "Create", "Methods")

        @*Place holder for create table related to the selected experiment method*@
        <div id="MethodHelper" style="display: none">        
            @Html.Label("Added Information: ")     
            <img src="~/Content/Images/help.png" width="24" height="24" data-toggle="tooltip"
                 title="Use the fields below to add the same information to all the files you are about to upload to the system.
        1. Fill in the desired information. 2. Click on 'Add Files' button and add the desired files or drag and drop the desired files to the 'drag and drop' area." />
        </div>
        <div id="expMethodCreatePartialView"> </div>
    </div>
    <div class="form-horizontal">
        @Html.Partial("_DragDropZone")
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "backActionLink" })
</div>

@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/dropzonescripts")
<script src="~/Scripts/App/ImageValidation.js"></script>
<script src="~/Scripts/App/ProgressAnimation.js"></script>
<script src="~/Scripts/App/DragAndDropFiles.js"></script>
<script src="~/Scripts/App/Tooltip.js"></script>
<script src="~/Scripts/App/ExperimentMethodSelector.js"></script>
<script src="~/Scripts/App/AutoComplete.js"></script>
}
