﻿@using SciROLabABW.Web.CustomHtmlHelpers;
@model SciROLabABW.Web.ViewModels.WBMainTableDelete_VM

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<p>
    <a href="" class="mainListGoBack"> Back to List </a>
</p>
<h3>Do you want to delete this?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <hr class="hr-table-coral" />
    <h4>Main Table</h4>
    <hr class="hr-table-coral" />

    <div class="row">
        <div class="col-md-4">
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.mainID)
                    </dt>

                    <dd>
                        <div style="word-wrap: break-word;">
                            @Html.DisplayFor(model => model.mainID)
                        </div>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.userName)
                    </dt>

                    <dd>
                        <div style="word-wrap: break-word;">
                            @Html.DisplayFor(model => model.userName)
                        </div>
                    </dd>

                    @if (Model.experimentMethod == "Immunostaining")
                    {
                        @Html.Partial("_ISRowDBDelete", Model)
                    }
                    else if (Model.experimentMethod == "Western Blot")
                    {
                        @Html.Partial("_WBRowDBDelete", Model)
                    }
                    
                    <dt>
                        @Html.DisplayNameFor(model => model.shareRow)
                    </dt>

                    <dd>
                        <div style="word-wrap: break-word;">
                            @(Model.shareRow == true ? "Yes" : "No")
                        </div>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.groupName)
                    </dt>

                    <dd>
                        <div style="word-wrap: break-word;">
                            @Html.DisplayFor(model => model.groupName, "ToShortDateString")
                        </div>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.dateAdded)
                    </dt>

                    <dd>
                        <div style="word-wrap: break-word;">
                            @Html.DisplayFor(model => model.dateAdded, "ToShortDateString")
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
            <div class="col-md-2">
                <label>Image:</label>
                <div>
                    <img src="@Html.DisplayImageByteArray(Model.image)" height="300" />
                </div>
                <div style="word-wrap: break-word;">
                    @Html.DisplayFor(model => model.imageName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
    <div>
        <input type="submit" value="Delete" class="btn btnCoral btnRad30 submitBtn" id="submitBtnId" name="submit" />
    </div>
}

<hr class="hr-table-coral" />

<div>
    <a href="" class="mainListGoBack"> Back to List </a>
</div>

@section Scripts {
    <script src="~/Scripts/App/PageHistoryGoBack.js"></script>
}