﻿@using SciROLabABW.Web.Authorization;
@using SciROLabABW.Web.CustomHtmlHelpers;
@model SciROLabABW.Web.ViewModels.WBMainTableDetails_VM

@{
    ViewBag.Title = "Image View";
}

    <h2>Image View</h2>
    <div class="form-group">
        <div class="btn-group toggle-button" data-toggle="buttons">
            <label class="btn btn-primary active">
                @Html.RadioButton("viewStyle", "small", true, new { id = "small", data_id = Model.rowID, data_url = @Url.Action("Details", "WesternBlot") })
                <i class="glyphicon glyphicon-th"></i>
            </label>
            <label class="btn btn-primary">
                @Html.RadioButton("viewStyle", "mid", new { id = "mid", data_id = Model.rowID, data_url = @Url.Action("Details", "WesternBlot") })
                <i class="glyphicon glyphicon-th-large"></i>
            </label>
            <label class="btn btn-primary">
                @Html.RadioButton("viewStyle", "large", new { id = "large", data_id = Model.rowID, data_url = @Url.Action("Details", "WesternBlot") })
                <i class="glyphicon glyphicon-list"></i>
            </label>
        </div>
    </div>
    <div>
        <a href="" class="mainListGoBack"> Back to List </a>
        @if (AccessAuthorization.IsUserEditDelAutorized(User.Identity.Name, Model.userName))
        {
            @Html.ActionLink(" | Edit", "Edit", new { id = Model.rowID })
        }

    </div>
    <hr class="hr-table-coral" />
    <div class="row">
        <div id="imageViewPartialView">
            @{Html.RenderPartial("_DetailsViewStyleSmall", Model);}
        </div>
    </div>
    <p>
        <a href="" class="mainListGoBack"> Back to List </a>
        @if (AccessAuthorization.IsUserEditDelAutorized(User.Identity.Name, Model.userName))
        {
            @Html.ActionLink(" | Edit", "Edit", new { id = Model.rowID })
        }
    </p>

@section Scripts {
    <script src="~/Scripts/App/PageHistoryGoBack.js"></script>
    <script src="~/Scripts/App/ImageViewDisplay.js"></script>
    <script src="~/Scripts/App/ImageViewScripts.js"></script>
    <script src="~/Scripts/App/ImageZoom.js"></script>
}
