﻿@using PagedList.Mvc;
@using SciROLabABW.Web.CustomHtmlHelpers;
@model PagedList.PagedList<SciROLabABW.Web.ViewModels.WBMainTableEdit_VM>

<style type="text/css">
    .form-control {
        max-width: 100%;
    }

    #bottomContainer {
        clear: both;
        width: 100%;
        padding-top: 2em;
    }
</style>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Edit Mode";
}

<h2>Edit Mode View</h2>

<div>
    @Html.ActionLink("Back to List", "Index") |
    <a href="" class="historyGoBack"> Go Back </a>
</div>

@using (Html.BeginForm("EditMultiple", "WesternBlot", FormMethod.Get,
       new { defaultbutton = "SubmitButton", id = "MainForm" }))
{
    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount.
        Maximum Items in Page: @Html.DropDownList("pageSizeStr", null, new { @onchange = "this.form.submit();", @class = "skipLeavePageValid" })
    </div>
    @*Note: if you change this one change also the one at the bottom of this page - TODO: find a better way to duplicate @Html.PagedListPager.*@
    @Html.PagedListPager(Model, page => Url.Action("EditMultiple", new
    {
        page,
        currentSortOrder = ViewBag.CurrentSortOrder,
        currentSearchText = ViewBag.CurrentSearchText,
        currentPageSize = ViewBag.CurrentPageSize,
    }))

    <div>
        @Html.Hidden("pageSize", ViewData["CurrentPageSize"] as string, new { @readonly = "readonly" })

        <div>
            <button type="submit" name="startSearch" id="SubmitButton" value="Search" class="btnCoral" title="Search">
                <i class="glyphicon glyphicon-search"></i>
            </button>
                @Html.TextBox("freeSearchStr", ViewBag.CurrentSearchText as string, new { @class = "searchBox skipLeavePageValid" }) 
                <strong class="text-warning">@ViewData["CurrentSearchStatMsg"]</strong>
        </div>
    </div>

    <div>@Html.Label("Sort By:") @Html.DropDownList("ListSortOrder", null, new { @onchange = "this.form.submit();", @class = "skipLeavePageValid" })</div>
}

@using (Html.BeginForm("EditMultiple", "WesternBlot", FormMethod.Post,
       new { defaultbutton = "SubmitButton", id = "postForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div id="errorMessage" style="color: #ff0000; padding: 10px; font-weight: bold;"></div>

    <hr class="hr-table-coral" />
    <div class="form-horizontal">
        @Html.EditorForModel(Model)
    </div>

    <input type="submit" value="Save" class="btn btnCoral btnRad30 submitBtnHistoryBack submitBtn" id="submitBtnId" name="submit" />
}

@*Note: if you change this one change also the one at the top of this page.*@
@Html.PagedListPager(Model, page => Url.Action("EditMultiple", new
    {
        page,
        currentSortOrder = ViewBag.CurrentSortOrder,
        currentSearchText = ViewBag.CurrentSearchText,
        currentPageSize = ViewBag.CurrentPageSize,
    }))

<div id="bottomContainer">
    @Html.ActionLink("Back to List", "Index") |
    <a href="" class="historyGoBack"> Go Back </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/App/FormPostAsyncReload.js"></script>
    <script src="~/Scripts/App/LeavePageValidation.js"></script>
    <script src="~/Scripts/App/ProgressAnimation.js"></script>
    <script src="~/Scripts/App/PageHistoryGoBack.js"></script>
    <script src="~/Scripts/App/ExperimentMethodSelector.js"></script>
    <script src="~/Scripts/App/WBSetMultipleControlImage.js"></script>
    <script src="~/Scripts/App/ImnstSetMultipleControlImage.js"></script>
    <script src="~/Scripts/App/SetDefaultKeyOnEnter.js"></script>
    <script src="~/Scripts/App/AutoComplete.js"></script>
}
