﻿@using SciROLabABW.Web.CustomHtmlHelpers;
@model SciROLabABW.Web.ViewModels.WBMainTableEdit_VM

<style type="text/css">
    .form-control {
        max-width: 100%;
    }

    #bottomContainer {
        clear:both;
        width: 100%;
        padding-top:2em;
    }
</style>

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<!-- UserGroups modal placeholder-->
<div id='userGroupsModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='userGroupsModalContent'></div>
        </div>
    </div>
</div>

<div>
    <a href="" class="mainListGoBack"> Back to List </a> |
    <a href="" class="historyGoBack"> Go Back </a>
</div>

@using (Html.BeginForm("Edit", "WesternBlot", FormMethod.Post, new { enctype = "multipart/form-data", Id = "postForm" }))
{
    @Html.AntiForgeryToken()

    <hr class="hr-table-coral" />
    <h4>Main Table</h4>
    <hr class="hr-table-coral" />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal col-md-8">
        <div class="form-group">
            @Html.LabelFor(model => model.mainID, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10" style="word-wrap: break-word;">
                @Html.DisplayFor(model => model.mainID, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.HiddenFor(model => model.mainID)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.userName, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10" style="word-wrap: break-word;">
                @Html.DisplayFor(model => model.userName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.HiddenFor(model => model.userName)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.shareRow, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.shareRow)
                @Html.ValidationMessageFor(model => model.shareRow, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.groupName, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.groupName, new { htmlAttributes = new { @class = "form-control autoComplete" } })
                @Html.ValidationMessageFor(model => model.groupName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dateAdded, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10" style="word-wrap: break-word;">
                @Html.DisplayFor(model => model.dateAdded, "ToShortDateString", new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.HiddenFor(model => model.dateAdded)
        </div>

        @if (Model.experimentMethod == null)
        {
            <div id="expMethodEditPartialView">
                <div class="form-group">
                    @Html.LabelFor(model => model.experimentMethod, htmlAttributes: new { @class = "col-md-2" })
                    @Html.DropDownListFor(m => m.SelectedMethod, Model.MethodsList, null, new { @id = "experimentMethodEditView", data_url = Url.Action("ExperimentMethodEditView", "WesternBlot"), data_id = Model.rowID })
                </div>
            </div>
        }
        else
        {
            if (Model.experimentMethod == "Immunostaining")
            {
                @Html.Partial("_ISRowDBEdit", Model)
            }
            else if (Model.experimentMethod == "Western Blot")
            {
                @Html.Partial("_WBRowDBEdit", Model)
            }
            else
            {
                @Html.Partial("_RowDBEdit", Model)
            }
        }

        @Html.HiddenFor(model => model.rowID)
        @Html.HiddenFor(model => model.image)
        @Html.HiddenFor(model => model.userID)
        @Html.HiddenFor(model => model.imagePath)
        @Html.HiddenFor(model => model.imageType)
        @Html.HiddenFor(model => model.storedImageName)
        @Html.HiddenFor(model => model.storedImagePath)
        @Html.HiddenFor(model => model.storedDownSampleImagePath)
        @Html.HiddenFor(model => model.storedLabelImagePath)
        @Html.HiddenFor(model => model.storedMacroImagePath)
        @Html.HiddenFor(model => model.previousUrl)

        <div class="form-group" style="margin-top:2em;">
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btnCoral btnRad30 submitBtnHistoryBack submitBtn" id="submitBtnId" name="submit" />
            </div>
        </div>
    </div>

    <div class="form-horizontal col-md-4">
        <div class="form-group">
            @Html.HiddenFor(model => model.imageName)
            <label>Image:</label>
            <div style="word-wrap: break-word;">
                @Html.DisplayFor(model => model.imageName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <img src="@Html.DisplayImageByteArray(Model.image)" width="300" class="resizedImage" />
        </div>
        <div>
            @if (!String.IsNullOrEmpty(Model.storedLabelImagePath))
            {
                @Html.Label("Label:", htmlAttributes: new { @class = "control-label" })
                <div>
                    <img src="@Html.DisplayImageByPath(@Model.storedLabelImagePath)" width="150" class="resizedImage" />
                </div>
            }
        </div>
        <div>
            @if (!String.IsNullOrEmpty(Model.storedMacroImagePath))
            {
                @Html.Label("Macro:", htmlAttributes: new { @class = "control-label" })
                <div>
                    <img src="@Html.DisplayImageByPath(@Model.storedMacroImagePath)" width="150" class="resizedImage" />
                </div>
            }
        </div>
    </div>
}

<div id="bottomContainer">
    <hr class="hr-table-coral" />
    <a href="" class="mainListGoBack"> Back to List </a> |
    <a href="" class="historyGoBack"> Go Back </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/App/ImageValidation.js"></script>
    <script src="~/Scripts/App/LeavePageValidation.js"></script>
    <script src="~/Scripts/App/FormPostAsync.js"></script>
    <script src="~/Scripts/App/ProgressAnimation.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/App/PageHistoryGoBack.js"></script>
    <script src="~/Scripts/App/PreventPostBackOnEnter.js"></script>
    <script src="~/Scripts/App/ImnstSetControlImage.js"></script>
    <script src="~/Scripts/App/WBSetControlImage.js"></script>
    <script src="~/Scripts/App/ExperimentMethodSelector.js"></script>
    <script src="~/Scripts/App/AutoComplete.js"></script>
}
