﻿@using SciROLabABW.Web.CustomHtmlHelpers;
@using SciROLabABW.Web.Authorization;
@using PagedList.Mvc;

@model SciROLabABW.Web.ViewModels.WBIndex_VM

<style type="text/css">
    .inline-container {
        display:inline-block;
        margin-right:10px;
    }

    .calendarIcon {
        background: #FFFFFF url('./Content/Images/calendar.gif') no-repeat right;
        padding-right: 18px;
        border: 1px solid #ccc;
    }

    .modal-dialog {
        position: relative;
        display: table;
        overflow-y: auto;
        overflow-x: auto;
        left: 0;
        top: 0;
        width: 40%;
    }

    .modalWide {
        position: relative;
        display: table;
        overflow-y: auto;
        overflow-x: auto;
        left: 0;
        top: 0;
        width: 100%;
    }
</style>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Main View";
}


<div id="expMethodEditPartialView">

</div>

<!-- References modal placeholder-->
<div id='refModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='refModalContent'></div>
        </div>
    </div>
</div>

<!-- Edit Selected Rows modal placeholder-->
<div id='editSelectedRowsModal' class='modal fade in'>
    <div class="modal-dialog modalWide">
        <div class="modal-content">
            <div id='editSelectedRowsContent'></div>
        </div>
    </div>
</div>

<!-- Tile View Selected Rows modal placeholder-->
<div id='tileViewSelectedRowsModal' class='modal fade in'>
    <div class="modal-dialog modalWide">
        <div class="modal-content">
            <div id='tileViewSelectedRowsContent'></div>
        </div>
    </div>
</div>

<h2>Main View</h2>

@using (Html.BeginForm("Index", "WesternBlot", FormMethod.Post,
       new { defaultbutton = "SubmitButton", id = "MainForm" }))
{
    @Html.AntiForgeryToken()
    <div id="errorMessage" style="color: #ff0000; padding: 10px; font-weight: bold;"></div>
    
    <div>
        Page @(Model.WBMainTableIndex_VM.PageCount < Model.WBMainTableIndex_VM.PageNumber ? 0 : Model.WBMainTableIndex_VM.PageNumber) of @Model.WBMainTableIndex_VM.PageCount.
        Maximum Items in Page: @Html.DropDownList("pageSizeStr", null, new { @onchange = "this.form.submit();" })
    </div>
    @*Note: if you change this one change also the one at the bottom of this page - TODO: find a better way to duplicate @Html.PagedListPager.*@
    @Html.PagedListPager(Model.WBMainTableIndex_VM, page => Url.Action("Index", new { page, currentSortOrder = Model.CurrentSortOrder,
                                                                  currentPageSize = Model.CurrentPageSize,
                                                                  currentSearchType = Model.CurrentSearchType,
                                                                  freeSearchCurrentFilter = Model.FreeSearchCurrentFilter,
                                                                  userNameCurrentFilter = Model.UserNameCurrentFilter,
                                                                  methodCurrentFilter = Model.MethodCurrentFilter,
                                                                  experimenterCurrentFilter = Model.ExperimenterCurrentFilter,
                                                                  primaryAntibodyCurrentFilter = Model.PrimaryAntibodyCurrentFilter,
                                                                  dateAddedCurrentMinDate = Model.DateAddedCurrentMinDate,
                                                                  dateAddedCurrentMaxDate = Model.DateAddedCurrentMaxDate,
                                                                  experimentCurrentMinDate = Model.ExperimentCurrentMinDate,
                                                                  experimentCurrentMaxDate = Model.ExperimentCurrentMaxDate, }))
    <div>
        @if (Model.CurrentSearchType != null)
        {
            @Html.Label("Search:")
            if (Model.CurrentSearchType.Equals("freeSearch"))
            {
                @Html.RadioButton("searchType", "freeSearch", true, new { onchange = "this.form.submit();" }) @Html.Label("Free")
                @Html.RadioButton("searchType", "advancedSearch", false, new { onchange = "this.form.submit();" }) @Html.Label("Advanced")
                <strong class="text-warning">@Model.CurrentSearchStatMsg</strong>
            }
            else
            {
                @Html.RadioButton("searchType", "freeSearch", false, new { onchange = "this.form.submit();" }) @Html.Label("Free")
                @Html.RadioButton("searchType", "advancedSearch", true, new { onchange = "this.form.submit();" }) @Html.Label("Advanced")
                <strong class="text-warning">@Model.CurrentSearchStatMsg</strong>
            }
            @Html.Hidden("sortOrder", Model.CurrentSortOrder as string, new { @readonly = "readonly" })
            @Html.Hidden("pageSize", Model.CurrentPageSize as string, new { @readonly = "readonly" })
            <div>
                <button type="submit" name="clearSearch" value="Clear" class="btnCoral" id="clearSearch" title="Clear Search">
                    <i class="glyphicon glyphicon-remove-circle"></i>
                </button>
                <button type="submit" name="startSearch" id="SubmitButton" value="Search" class="btnCoral" title="Search">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
                @if (Model.CurrentSearchType.Equals("freeSearch"))
                {
                    @Html.TextBoxFor(model => model.freeSearchStr, new { @class = "searchBox" })
                }
                else
                {
                    @Html.Label("User Name: ") @Html.TextBoxFor(model => model.searchUserName, new { @class = "searchBox" })
                    @Html.Label("Method: ") @Html.TextBoxFor(model => model.searchMethod, new { @class = "searchBox" })
                    @Html.Label("Experimenter: ") @Html.TextBoxFor(model => model.searchExperimenter, new { @class = "searchBox" })
                    @Html.Label("Primary Antibody: ") @Html.TextBoxFor(model => model.searchPrimaryAntibody, new { @class = "searchBox" })
                    <div>
                        @Html.Label("Date Added: ")  From: @Html.TextBoxFor(model => model.dateAddedMinDate, "{0:MM/dd/yyyy}", new { @class = "calendarIcon datePicker searchBox" })
                        To: @Html.TextBoxFor(model => model.dateAddedMaxDate, "{0:MM/dd/yyyy}", new { @class = "calendarIcon datePicker searchBox" })
                        @Html.Label("Experiment Date: ")   From: @Html.TextBoxFor(model => model.expMinDate, "{0:MM/dd/yyyy}", new { @class = "calendarIcon datePicker searchBox" })
                        To: @Html.TextBoxFor(model => model.expMaxDate, "{0:MM/dd/yyyy}", new { @class = "calendarIcon datePicker searchBox" })
                    </div>
                }
            </div>
        }
    </div>
    
    <div>@Html.Label("Sort By:") @Html.DropDownList("wbSortOrder", null, new { @onchange = "this.form.submit();" })</div>

    <hr class="hr-table-coral" />
    <div class="form-horizontal">
        <div>
            <div class="inline-container"><h4>Main Table:</h4></div>
            <div class="inline-container">@Html.ActionLink("Add New", "Create")</div>
            <div class="inline-container">@Html.ActionLink("Edit Mode", "EditMultiple")</div>
            <div class="inline-container">@Html.ActionLink("Tile View", "TileView")</div>
        </div>
        <div class="inline-container"> <input type="checkbox" id="selecetAll" /><span> Select all rows (in current page)</span> </div>
        <div class="dropdown inline-container">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span>Selected Rows Action </span><span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
                <li><input type="button" class="btn btnLinkStyle" value="Tile View selected rows" id="buttonSelectedTileView" data-url=@Url.Action("SelectedRowsTileView", "WesternBlot")></li>
                <li><input type="button" class="btn btnLinkStyle" value="Edit selected rows" id="buttonEditSelected" data-url=@Url.Action("EditSelectedRows", "WesternBlot")></li>
                <li><input type="button" class="btn btnLinkStyle" value="Delete selected rows" id="buttonDel" data-url=@Url.Action("DeleteMultiple", "WesternBlot")></li>
                <li><input type="button" class="btn btnLinkStyle" value="Share selected rows" id="buttonShare" data-url=@Url.Action("SetRowsSharedMode", "WesternBlot")></li>
                <li><input type="button" class="btn btnLinkStyle" value="Unshare selected rows" id="buttonUnshare" data-url=@Url.Action("SetRowsSharedMode", "WesternBlot")></li>
            </ul>
        </div>

        @foreach (var item in Model.WBMainTableIndex_VM)
        {
            <hr class="hr-table-coral" />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <input type="checkbox" name="selectRow" id="selectRow" value=@item.rowID /><span> Select row</span>
            <div class="row">      
                <div class="col-md-6">
                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.HiddenFor(model => item.rowID)
                            </dt>
                            <dt>
                                @Html.DisplayNameFor(model => item.mainID)
                            </dt>
                            <dd>
                                <div style="word-wrap: break-word;">
                                    @Html.DisplayFor(model => item.mainID)
                                </div>
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => item.userName)
                            </dt>
                            <dd>
                                <div style="word-wrap: break-word;">
                                    @Html.DisplayFor(model => item.userName)
                                </div>
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => item.shareRow)
                            </dt>
                            <dd>
                                <div style="word-wrap: break-word;">
                                    @(item.shareRow == true ? "Yes" : "No")
                                </div>
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => item.groupName)
                            </dt>
                            <dd>
                                <div style="word-wrap: break-word;">
                                    @Html.DisplayFor(model => item.groupName)
                                </div>
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => item.dateAdded)
                            </dt>
                            <dd>
                                <div style="word-wrap: break-word;">
                                    @Html.DisplayFor(model => item.dateAdded, "ToShortDateString")
                                </div>
                            </dd>
                            @if (item.experimentMethod != null)
                            {
                                if (item.experimentMethod == "Immunostaining")
                                {
                                    @Html.Partial("_ISRowDBIndex", item)
                                }
                                else if (item.experimentMethod == "Western Blot")
                                {
                                    @Html.Partial("_WBRowDBIndex", item)
                                }
                                else
                                {
                                    @Html.Partial("_RowDBIndex", item)
                                }
                            }
                        </dl>
                    </div>
                </div>                          
                <div class="col-sm-4">
                    @Html.LabelFor(model => item.image, htmlAttributes: new { @class = "control-label" })
                    <div>
                        <a href="@Url.Action("Details", new { id = item.rowID })" id=item.rowID title ="Click to go to Image View" class="keepMainViewLocation">
                            <img src="@Html.DisplayImageByteArray(item.image)" width="300" class="resizedImage" />
                        </a>                        
                    </div>
                    <div style="word-wrap: break-word;">
                        @Html.DisplayFor(model => item.imageName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @if (!String.IsNullOrEmpty(item.storedLabelImagePath))
                    {
                        @Html.Label("Label:", htmlAttributes: new { @class = "control-label" })
                        <div>
                            <img src="@Html.DisplayImageByPath(item.storedLabelImagePath)" width="150" class="resizedImage" />
                        </div>
                    }
                    @if (!String.IsNullOrEmpty(item.storedMacroImagePath))
                    {
                        @Html.Label("Macro:", htmlAttributes: new { @class = "control-label" })
                        <div>
                            <img src="@Html.DisplayImageByPath(item.storedMacroImagePath)" width="150" class="resizedImage" />
                        </div>
                    }
                </div>
                <div class="col-sm-2 smlDiv">
                    @Html.Partial("_ReferencesIndex", item)
                </div>              
            </div>
            <div>
                @Html.ActionLink("Image View", "Details", new { id = item.rowID }, new { @class = "keepMainViewLocation" })
                @if (AccessAuthorization.IsUserEditDelAutorized(User.Identity.Name, item.userName))
                {
                    @Html.ActionLink("| Edit ", "Edit", new { id = item.rowID }, new { @class = "keepMainViewLocation", onclick = "ShowProgressModal()" })
                    @Html.ActionLink("| Delete", "Delete", "WesternBlot", new { @class = "modifyReferences", data_id = item.rowID, data_url = @Url.Action("Delete", "WesternBlot") })
                }
            </div>
        }
    </div>
    <hr class="hr-table-coral" />
    @*Note: if you change this one change also the one at the top of this page - TODO: find a better way to duplicate @Html.PagedListPager.*@
    @Html.PagedListPager(Model.WBMainTableIndex_VM, page => Url.Action("Index", new { page, currentSortOrder = Model.CurrentSortOrder,
                                                                  currentPageSize = Model.CurrentPageSize,
                                                                  currentSearchType = Model.CurrentSearchType,
                                                                  freeSearchCurrentFilter = Model.FreeSearchCurrentFilter,
                                                                  userNameCurrentFilter = Model.UserNameCurrentFilter,
                                                                  methodCurrentFilter = Model.MethodCurrentFilter,
                                                                  experimenterCurrentFilter = Model.ExperimenterCurrentFilter,
                                                                  primaryAntibodyCurrentFilter = Model.PrimaryAntibodyCurrentFilter,
                                                                  dateAddedCurrentMinDate = Model.DateAddedCurrentMinDate,
                                                                  dateAddedCurrentMaxDate = Model.DateAddedCurrentMaxDate,
                                                                  experimentCurrentMinDate = Model.ExperimentCurrentMinDate,
                                                                  experimentCurrentMaxDate = Model.ExperimentCurrentMaxDate, }))
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/RefModalFormGet")
    <script src="~/Scripts/App/MouseOverImageResize.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/App/ProgressAnimation.js"></script>
    <script src="~/Scripts/App/DeleteSelected.js"></script>
    <script src="~/Scripts/App/SelectAllCheckbox.js"></script>
    <script src="~/Scripts/App/PageKeepScrollPosition.js"></script>
    <script src="~/Scripts/App/ShareRowSetting.js"></script>
    <script src="~/Scripts/App/SetDefaultKeyOnEnter.js"></script>
    <script src="~/Scripts/App/ClearSearch.js"></script>
    <script src="~/Scripts/App/EditSelectedRows.js"></script>
    <script src="~/Scripts/App/SelectedImagesTileView.js"></script>
}