﻿@model SciROLabABW.Web.ViewModels.WBReferenceCreateFile_VM

@Styles.Render("~/Content/dropzonescss")

@{
    ViewBag.Title = "Add New";
}

<h2>Add New References</h2>
<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "backActionLink mainListGoBack" })
</div>
<link href="~/Scripts/dropzone/basic.css" rel="stylesheet" />
<link href="~/Scripts/dropzone/dropzone.css" rel="stylesheet" />
<button id="addFiles" class="btn btnCoral btnRad30">
    <i class="glyphicon glyphicon-plus-sign"></i>
    <span>Add files</span>
</button>
<button id="cancelAll" class="btn btn-danger btnRad30">
    <i class="glyphicon glyphicon-ban-circle"></i>
    <span>Cancel upload</span>
</button>
<button id="delAll" class="btn btn-danger btnRad30">
    <i class="glyphicon glyphicon-trash"></i>
    <span>Clear view</span>
</button>

@using (Html.BeginForm("RefCreateFiles", "WesternBlot", FormMethod.Post, new { enctype = "multipart/form-data", @id = "dropzoneForm", @class = "dropzone" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.mainTableID)
    @Html.HiddenFor(model => model.file)
    <div class="form-horizontal">
        @Html.Partial("_DragDropZone")
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "backActionLink mainListGoBack" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dropzonescripts")
    <script src="~/Scripts/App/DragAndDropFiles.js"></script>
    <script src="~/Scripts/App/PageHistoryGoBack.js"></script>
}
