﻿@using SciROLabABW.Web.CustomHtmlHelpers;

@model IList<SciROLabABW.Web.ViewModels.WBMainTableIndex_VM>

<style>
  #sortable div 
  {
      margin: 3px 3px 3px 3px; 
      padding: 0px; 
      float: left; 
      width: 400px; 
      height: auto; 
      overflow: hidden; 
      text-overflow: ellipsis; 
      white-space: nowrap;
      font-size: 1em; 
      text-align: left;
  }
</style>

@{
    ViewBag.Title = "Tile View";
}

<h2>Tile View</h2>

@using (Html.BeginForm("TileView", "WesternBlot", FormMethod.Get,
       new { defaultbutton = "SubmitButton", id = "MainForm" }))
{
    <div>
        <button type="submit" name="startSearch" id="SubmitButton" value="Search" class="btnCoral" title="Search">
            <i class="glyphicon glyphicon-search"></i>
        </button>
        @Html.TextBox("freeSearchStr", ViewBag.CurrentSearchText as string, new { @class = "searchBox skipLeavePageValid" })
        <strong class="text-warning">@ViewData["CurrentSearchStatMsg"]</strong>
    </div>
    
    <hr class="hr-table-coral" />
    
    <div class="infiniteScrolling" id="sortable" data-url="@Url.Action("TileView", "WesternBlot")">
        @Html.Partial("_TileView", Model)
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/App/Tooltip.js"></script>
    <script src="~/Scripts/App/Sortable.js"></script>
    <script src="~/Scripts/App/ProgressAnimation.js"></script>
    <script src="~/Scripts/App/infiniteScrolling.js"></script>
    <script src="~/Scripts/App/PageKeepScrollPosition.js"></script>
}
