﻿@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>*@
<h3>@ViewBag.Message</h3>
<h3>@ViewBag.Version</h3>
<!-- displayTextModal placeholder-->
<div id='displayTextModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='displayTextModalContent'></div>
        </div>
    </div>
</div>

<div class="form-group">
        @Html.Hidden("modal-title", "End User License Agreement - Onca®")
        @Html.Hidden("file-path", @Url.Content("~/Documents/EULA_SciROLab_SaaS.pdf"))
</div>
@Html.ActionLink("Terms of Use", "DisplayText", "Documents", new { @class = "displayText", data_url = @Url.Action("DisplayText", "Documents") })

<hr class="hr-table-coral" />

@if (@ViewBag.TeamName != null)
{
    <h4>Team Name: @ViewBag.TeamName</h4>
}

@if (System.Configuration.ConfigurationManager.AppSettings["cloudService"] != "1963")
{
<p>
    @Html.ActionLink("[License Status]", "Details", "LicenseManager")
    @Html.ActionLink(" - [License Manager]", "Index", "LicenseManager")
</p>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/App/DisplayTextPopup.js"></script>
}
