﻿@{
    ViewBag.Title = "Onca, Inc. Contact Information";
}
<h2>@ViewBag.Title.</h2>

<address>
    Onca, Inc.<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@onca-inc.com">support@onca-inc.com</a><br />
    <strong>Sales:</strong> <a href="mailto:sales@onca-inc.com">sales@onca-inc.com</a>
</address>