﻿@using SciROLabABW.Web.Models
@model LoginViewModel

@{
    ViewBag.Title = "SciROLab Home Page";
}

@Html.Partial("_Welcome")

@*<div class="centeredContainer" style="height: 4em;">
    <h2>Please select from the options below</h2>
</div>*@
<section id="loginForm">
    <!-- WesternBlot is been called temporarly - We should call the one that was selected by the user when we'll have more options -->
    @using (Html.BeginForm("Index", "WesternBlot", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*<div class="centeredContainer" style="height: 2em;">
        <p>
            <span class="editor-label"> @Html.Label("Western Blot") </span>
            <span class="editor-field">
                <label> @Html.RadioButton("Western Blot", 1, true)</label>
            </span>
        </p>
    </div>*@
    <div class="centeredContainer" style="height: 2em;">
        <div>
            <input type="submit" value="Continue" class="btn btnCoral btnRad30" />
        </div>
    </div>
    }
</section>
