﻿@model SciROLabABW.Web.ViewModels.Groups.GroupManage_VM

<style type="text/css">
    .boxDiv {
        height: 250px;
        min-width: 500px;
        max-width: 500px;
        overflow: auto;
        border: 1px solid coral;
    }
</style>

<div class="boxDiv">    
    <table class="table">
        @foreach (var item in Model.AspNetUsers)
        {
            <tr>
                <td>
                    @Html.Name(item.UserName)
                </td>
            </tr>
        }
    </table>
</div>