﻿@model IEnumerable<SciROLabABW.Web.ViewModels.Groups.GroupManage_VM>

<style>
    .form-control {
        max-width: 100%;
    }

    #bottomContainer {
        clear: both;
        width: 100%;
        padding-top: 2em;
    }

    #sortable div {
        margin: 3px 3px 3px 3px;
        padding: 0px;
        float: left;
        width: 400px;
        height: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 1em;
        text-align: left;
    }

    .modal-body {
        max-height: calc(100vh - 210px);
        overflow-y: auto;
    }
</style>

<div class="modal-header" style="background-color: coral;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>My Groups</h4>
</div>
<div class="modal-body">
    <button class="btn btnRad30" data-dismiss="modal">Close</button>
    <div class="form-horizontal">
        @foreach (var item in Model)
        {
            <hr class="hr-table-coral" />
            <div class="row">
                <div class="col-md-3" style="word-wrap: break-word;">
                    @Html.Label("Group Name:", htmlAttributes: new { @class = "control-label" })
                    <dl class="dl-horizontal">
                        @Html.DisplayFor(model => item.Name)
                    </dl>
                </div>
                <div class="col-md-3">
                    @Html.Label("Users:", htmlAttributes: new { @class = "control-label" })
                    <dl class="dl-horizontal">
                        @Html.Partial("_GroupUsersIndex", item)
                    </dl>
                </div>
            </div>
        }
    </div>
</div>
<div class="modal-footer"> </div>

