﻿@model SciROLabABW.Web.ViewModels.Groups.GroupManage_VM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Group</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.userName)
        @Html.HiddenFor(model => model.userId)
        @Html.HiddenFor(model => model.TeamId)
        @Html.HiddenFor(model => model.TeamName)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btnCoral btnRad30 submitBtn" id="submitBtnId" />
            </div>
        </div>
    </div>
}

<div>
    <a href="" class="historyGoBack"> Go Back </a>
</div>

@section Scripts {
<script src="~/Scripts/App/LeavePageValidation.js"></script>
<script src="~/Scripts/App/PageHistoryGoBack.js"></script>
}
