﻿@model SciROLabABW.Web.ViewModels.Groups.GroupManageUsers_VM

@{
    ViewBag.Title = "DeleteUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("DeleteUsers", "Groups"))
{
    @Html.AntiForgeryToken()

    <h2>Delete Users from Group</h2>
    <div>
        @Html.HiddenFor(model => model.GroupId)
        <hr class="hr-table-coral" />
        <div class="row">
            <div class="col-md-3" style="word-wrap: break-word;">
                @Html.Label("Group Name:", htmlAttributes: new { @class = "control-label" })
                @Html.DisplayFor(model => model.GroupName)
            </div>
            <div class="col-md-9">
                @Html.Label("Users:", htmlAttributes: new { @class = "control-label" })
                <dl class="dl-horizontal">
                    @Html.ListBoxFor(model => model.SelectedUsers, Model.Users, new { size = 20, @style = "min-width: 500px;" })
                </dl>
            </div>
        </div>
        <div>
            <input type="submit" value="Delete" class="btn btnCoral btnRad30 submitBtn" name="submit" id="submitBtnId" /> |
            <a href="" class="historyGoBack"> Go Back </a>
        </div>
      </div>
}

@section Scripts {
<script src="~/Scripts/App/LeavePageValidation.js"></script>
<script src="~/Scripts/App/PageHistoryGoBack.js"></script>
}
