﻿@model IEnumerable<SciROLabABW.Web.ViewModels.Groups.GroupManage_VM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Groups Manager</h2>

<hr class="hr-table-coral" />
<div class="form-horizontal">
    @Html.ActionLink("Create New Group", "Create")
    @foreach (var item in Model)
    {
        <hr class="hr-table-coral" />

    <div class="row">
        <div class="col-md-3">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.Label("Group Name: ")
                    </dt>
                    <dd>
                        <div style="word-wrap: break-word;">
                            @Html.DisplayFor(model => item.Name)
                        </div>
                    </dd>

                    <dt>
                        @Html.Label("User Name: ")
                    </dt>
                    <dd>
                        <div style="word-wrap: break-word;">
                            @Html.DisplayFor(model => item.userName)
                        </div>
                    </dd>
                </dl>
        </div>

            <div class="col-md-3">
                @Html.Label("Users:", htmlAttributes: new { @class = "control-label" })
                <dl class="dl-horizontal">
                    @Html.Partial("_GroupUsersIndex", item)
                </dl>
                <div>
                    @Html.ActionLink("Add Users", "AddUsers", "Groups", new { groupId = item.Id }, null) |
                    @Html.ActionLink("Delete Users", "DeleteUsers", "Groups", new { groupId = item.Id }, null)
                </div>
            </div>
    </div>

    <div>
        @Html.ActionLink("Edit Group", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Delete Group", "Delete", new { id = item.Id })
    </div>

    }



