﻿@model IEnumerable<SciROLabABW.Web.ViewModels.Groups.GroupManage_VM>

@{
    ViewBag.Title = "My Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Groups</h2>

<div class="form-horizontal">
    @foreach (var item in Model)
    {
        <hr class="hr-table-coral" />
        <div class="row">
            <div class="col-md-3" style="word-wrap: break-word;">
                @Html.Label("Group Name:", htmlAttributes: new { @class = "control-label" })
                <dl class="dl-horizontal">
                    @Html.DisplayFor(model => item.Name)
                </dl>
            </div>
            <div class="col-md-3">
                @Html.Label("Users:", htmlAttributes: new { @class = "control-label" })
                <dl class="dl-horizontal">
                    @Html.Partial("_GroupUsersIndex", item)
                </dl>
            </div>
        </div>
    }
</div>
