﻿.wideContainer {
   width: 100%;
}

.img-container {
    width: 200px;
    height: 200px;
    border: thick;
}

.img-container img {
    height: 100%;
    width: auto;
}

.btnCoral {
    font-size: 13px;
    font-family: Arial;
    color: white;
    background-color: coral;
    border: 1px solid coral;
}

.btnRed {
    font-size: 13px;
    font-family: Arial;
    color: white;
    background-color: red;
    border: 1px solid red;
}

.btnLinkStyle{
    border: 0px; 
    background-color: transparent; 
    color: blue;
}

.btnRad30 {
    border-radius: 30px;
}

.btnCoral:focus {
  color: red;
  background-color: darksalmon;
}

.btnCoral:hover {
    color: red;
    background-color: darksalmon;
}

.hr-coral {
    border: 0;
    color: coral;
    background-color: coral;
    height: 1px;
}

.hr-table-red {
    border: 0;
    width: 100%;
    color: red;
    background-color: red;
    height: 3px;
}

.hr-table-coral {
    border: 0;
    width: 100%;
    color: coral;
    background-color: coral;
    height: 3px;
}

.hr-footer {
    border-bottom: 1px dashed;
    color: coral;
}

#fileNameTextBox {
    background: #999999;
    color: #ffffff;
    font-size: 18px;
    border: 4px solid coral;
    max-width: 100%;
    width: inherit;
}

.selected-file-name {
        position: relative;
        overflow: hidden;
        margin: 10px;
}
.selected-file-name input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#img-preview-id {
    height: 300px;
    width: auto;
}

#processingModal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.2);
    z-index: 1000;
}

#processingModalContent {
    display: table;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#processingModalSpinner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    font-size: larger;
    padding-top: 80px;
}

.displayNameFormControl {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.displayNameFormControl[disabled],
.displayNameFormControl[readonly],
fieldset[disabled] .displayNameFormControl {
  cursor: not-allowed;
}

textarea.displayNameFormControl {
  height: auto;
}

.resizedImage{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.resizedImage:hover{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    transform-origin: bottom left;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.centeredContainer {
    height: 6em;
    position: relative;
}

div.centeredContainer h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.centeredContainer h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.centeredContainer p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.centeredContainer div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input.wide-control {
    width: 3000px;
}

.inlineBlock {
    display: inline-block;
    vertical-align: top;
}

.errorMsgDialog .ui-dialog-titlebar {
    background: red;
}
.smlBoxDiv{
    height: 250px; 
    max-width: 200px;
    min-width: 150px;
    margin: 2px;
    overflow: auto; 
    border: 1px solid coral;
}

div.smlDiv{
    padding-left: 5em;
}

@media (max-width: 767px) {
    div.smlDiv {
        padding-left: 0em;
    }
}

@media (max-width: 1300px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/*Make sure that autocomplete list will always be be on top and not hidden behind even in case of modal*/
.ui-autocomplete {
    z-index: 1510 !important;
}

.modal-dialog {
    position: relative;
    display: table;
    overflow-y: auto;
    overflow-x: auto;
    left: 0;
    top: 0;
    width: 40%;
}

.modalWide {
    position: relative;
    display: table;
    overflow-y: auto;
    overflow-x: auto;
    left: 0;
    top: 0;
    width: 100%;
}