﻿@model SciROLabABW.Web.ViewModels.LicenseManager.Details_VM
<hr class="hr-table-coral" />
<dl class="dl-horizontal">
    @if (Model.strLicenseStatus != null)
    {
        <dt>
            @Html.DisplayNameFor(model => model.strLicenseStatus)
        </dt>
        <dd>
            <div style="word-wrap: break-word;">
                @Html.DisplayFor(model => model.strLicenseStatus)
            </div>
        </dd>
    }

    @if (Model.nMaxDayPeriod != null)
    {
        <dt>
            @Html.DisplayNameFor(model => model.nMaxDayPeriod)
        </dt>
        <dd>
            <div style="word-wrap: break-word;">
                @Html.DisplayFor(model => model.nMaxDayPeriod)
            </div>
        </dd>
    }

    @if (Model.nDayLeftPeriod != null)
    {
        <dt>
            @Html.DisplayNameFor(model => model.nDayLeftPeriod)
        </dt>
        <dd>
            <div style="word-wrap: break-word;">
                @Html.DisplayFor(model => model.nDayLeftPeriod)
            </div>
        </dd>
    }

    @if (Model.nDayCountPeriod != null)
    {
        <dt>
            @Html.DisplayNameFor(model => model.nDayCountPeriod)
        </dt>
        <dd>
            <div style="word-wrap: break-word;">
                @Html.DisplayFor(model => model.nDayCountPeriod)
            </div>
        </dd>
    }

    @if (Model.strExpiredDate != null)
    {
        <dt>
            @Html.DisplayNameFor(model => model.strExpiredDate)
        </dt>
        <dd>
            <div style="word-wrap: break-word;">
                @Html.DisplayFor(model => model.strExpiredDate)
            </div>
        </dd>
    }

    @if ((Model.strMaxExec != null) && (Model.strMaxExec > 0) && (Model.strMaxExec < 9999))
    {
        <dt>
            @Html.DisplayNameFor(model => model.strMaxExec)
        </dt>
        <dd>
            <div style="word-wrap: break-word;">
                @Html.DisplayFor(model => model.strMaxExec)
            </div>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.strExecCount)
        </dt>
        <dd>
            <div style="word-wrap: break-word;">
                @Html.DisplayFor(model => model.strExecCount)
            </div>
        </dd>
    }
    
    @if ((Model.strMaxUser != null) && (Model.strMaxUser > 0) && (Model.strMaxUser < 999999999))
    {
        <dt>
            @Html.DisplayNameFor(model => model.strMaxUser)
        </dt>
        <dd>
            <div style="word-wrap: break-word;">
                @Html.DisplayFor(model => model.strMaxUser)
            </div>
        </dd>
    }
    
    @if (Model.strLicenseMode != null)
    {
        <dt>
            @Html.DisplayNameFor(model => model.strLicenseMode)
        </dt>
        <dd>
            <div style="word-wrap: break-word;">
                @Html.DisplayFor(model => model.strLicenseMode)
            </div>
        </dd>
    }
</dl>

