﻿
@model SciROLabABW.Web.ViewModels.LicenseManager.Details_VM

@{
    ViewBag.Title = "License Status";
}

<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-3">
        <div>
            <div>@Html.Partial("_LicenseStatus")</div>
        </div>
    </div>
    </div>
