﻿@model SciROLabABW.Web.ViewModels.LicenseManager.Activate_VM

<style type="text/css">
    .inline-container {
        display:inline-block;
        margin-right:10px;
    }
</style>

@{
    ViewBag.Title = "Product Activation.";
}

@Html.Partial("_Welcome")

<div>
    <div class="inline-container"><h2>@ViewBag.Title</h2></div>
    <div class="inline-container">@Html.ActionLink(" - [License Status]", "Details")</div>
</div>

<div class="text-danger"><h4>@TempData["message"]</h4></div>

@using (Html.BeginForm("ManualActivate", "LicenseManager", FormMethod.Post, new { enctype = "multipart/form-data", Id = "postForm" }))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.ValidationSummary("", new { @class = "text-danger" })
    </div>
    <div class="form-horizontal">
        <div>
            <hr class="hr-footer" />
            <h4>Manual Activation</h4>
            <text>
                The Registration ID below is required to register with us.
                If you already registered and have a License Key, please enter it and click the 'Manual Activate' button to activate the product.
            </text>
            <div class="form-group" style="padding-top: 2em;">
                @Html.LabelFor(model => model.strRegistrationID, htmlAttributes: new { @class = "col-md-1" })
                <div class="col-md-10" style="word-wrap: break-word;">
                    @Html.DisplayFor(model => model.strRegistrationID, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.strLicenseKey, htmlAttributes: new { @class = "col-md-1" })
                <div style="float: left;">
                    @Html.TextBoxFor(model => model.strLicenseKey, new { @class = "form-control wide-control" })
                </div>
                <div style="float: left; padding-left: 1em;">
                    <input type="submit" class="btn btn-default  btnCoral btnRad30" value="Manual Activate" />
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("AutoActivate", "LicenseManager", FormMethod.Post, new { enctype = "multipart/form-data", Id = "postForm" }))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.ValidationSummary("", new { @class = "text-danger" })
    </div>
    <div class="form-horizontal">
        <hr class="hr-footer" />
        <h4>Automatic Activation</h4>
        <text>Enter the Activation Key and click the 'Auto Activate' button. The program automatically connects to the activation server to activate the product.</text>
        <div class="form-group" style="padding-top: 2em;">
            @Html.LabelFor(model => model.strActivationKey, htmlAttributes: new { @class = "col-md-1" })
            <div style="float: left;">
                @Html.TextBoxFor(model => model.strActivationKey, new { @class = "form-control wide-control" })
            </div>
            <div style="float: left; padding-left: 1em;">
                <input type="submit" class="btn btn-default  btnCoral btnRad30" value="Auto Activate" />
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("AutoDestroy", "LicenseManager", FormMethod.Post, new { enctype = "multipart/form-data", Id = "postForm" }))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.ValidationSummary("", new { @class = "text-danger" })
    </div>
    <div class="form-horizontal">
        <hr class="hr-footer" />
        <h4>Auto Destroy</h4>
        <text>Enter the Destroy Key and click the 'Auto Destroy' button. The program automatically connects to the server to destroy the product.</text>
        <div class="form-group" style="padding-top: 2em;">
            @Html.LabelFor(model => model.strActivationKey, htmlAttributes: new { @class = "col-md-1" })
            <div style="float: left;">
                @Html.TextBoxFor(model => model.strActivationKey, new { @class = "form-control wide-control" })
            </div>
            <div style="float: left; padding-left: 1em;">
                <input type="submit" class="btn btn-default  btnCoral btnRad30" value="Auto Destroy" />
            </div>
        </div>
    </div>
}