﻿<style>
    #errorMessage {
        color: red;
        font-weight: bold;
        padding-top: 20px;
    }
</style>

<h2>License Key Error:</h2>

<div id="errorMessage">
    <span>@ViewBag.LicenseKeyErrMsg</span>
</div>
