﻿@model SciROLabABW.Web.ViewModels.Users.UsersManage_VM

@{
    ViewBag.Title = "Create User";
}
<h2>Create User</h2>
@using (Html.BeginForm("CreateUserByEmail", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <hr class="hr-table-coral" />
    @Html.AntiForgeryToken()
    <h4>Create a new account:</h4>
    <div class="text-success">@TempData["message"]</div>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default  btnCoral btnRad30" value="Create" />
        </div>
    </div>
}
