﻿@model SciROLabABW.Web.ViewModels.Users.UsersManage_VM

@{
    ViewBag.Title = "Manage Users";
}
<h2>Manage Users</h2>
<hr class="hr-table-coral" />
<div style="height: 50px;">
    <h4>Please select from the options below:</h4>
</div>
<div style="height: 50px;">
    @Html.ActionLink("- Add a new user with email confirmation (more secure - recommended).", "CreateUserByEmail", "User")
</div>
<div style="height: 50px;">
    @Html.ActionLink("- Add a new user without email confirmation.", "RegisterUser", "User")
</div>
<div style="height: 50px;">
    @Html.ActionLink("- Remove users.", "RemoveUsers", "User")
</div>
<div class="boxDiv">
    <h4>Existing Users:</h4>
    <dl class="dl-horizontal">
        @Html.ListBoxFor(model => model.SelectedUsers, Model.Users, new { size = 20, @style = "min-width: 500px;" })
    </dl>
</div>