﻿@model SciROLabABW.Web.ViewModels.Users.UsersManage_VM

@{
    ViewBag.Title = "RemoveUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-success">@ViewBag.ResultMessageSuccess</div>

@using (Html.BeginForm("RemoveUsers", "User"))
{
    @Html.AntiForgeryToken()
    <h2>Remove Users</h2>
    <div>
        <hr class="hr-table-coral" />        
        <div class="row">
            <div class="col-md-9">
                @Html.Label("Users:", htmlAttributes: new { @class = "control-label" })
                <p>(Select users from the list below to remove)</p>
                <dl class="dl-horizontal">
                    @Html.ListBoxFor(model => model.SelectedUsers, Model.Users, new { size = 20, @style = "min-width: 500px;" })
                </dl>
            </div>
        </div>
        <div>
            <input type="submit" value="Remove" class="btn btnCoral btnRad30 submitBtn" name="submit" id="submitBtnId" /> |
            <a href="" class="historyGoBack"> Go Back </a>
        </div>
    </div>
}

@section Scripts {
    <script src="~/Scripts/App/LeavePageValidation.js"></script>
    <script src="~/Scripts/App/PageHistoryGoBack.js"></script>
}
