﻿@*@{ Layout = "~/Views/Shared/_Layout.cshtml"; }*@

@{
    ViewBag.Title = "Payment";
}

<div class="wrapper">
    <div class="checkout container">
        <h1>Hi, <br>Let's test a transaction</h1>
        <p>
            Make a test payment with Braintree using PayPal or a card
        </p>

        @using (Html.BeginForm("Create", "Checkouts", null, FormMethod.Post, new { @id = "payment-form", role = "form" }))
        {
            <section>
                <div class="bt-drop-in-wrapper">
                    <div id="bt-dropin"></div>
                </div>
                <label for="amount">
                    <span class="input-label">Amount</span>
                    <div class="input-wrapper amount-wrapper">
                        <input id="amount" name="amount" type="tel" min="1" placeholder="Amount" value="10">
                    </div>
                </label>
            </section>
            <button class="button" type="submit"><span>Test Transaction</span></button>
        }
    </div>
</div>

    @section Scripts {
        <script src="https://js.braintreegateway.com/js/braintree-2.27.0.min.js"></script>
        <script src="~/Scripts/App/BraintreeDemo.js"></script>
        <script>
            var checkout = new Demo({
                formID: "payment-form"
            });
            var client_token = "@ViewBag.ClientToken";
            braintree.setup(client_token, "dropin", {
                container: "bt-dropin"
            });
        </script>
    }
