﻿    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="refModalLabel">@ViewBag.ModalTitle</h4>
    </div>

    <div class="modal-body">
        <object 
            class="embed-responsive-item" data="@Url.Content(@ViewBag.FileFullPath)" type="application/pdf" style="width:100%; height:600px">    
        </object>
        <hr class="hr-table-coral" />
        <p>
            *If you are unable to view the file, you can download it from <a href=@Url.Content(@ViewBag.FileFullPath)>here</a>
            or download <a target="" href="http://get.adobe.com/reader/">Adobe PDF Reader</a> to view the file.
        </p>
    </div>

    <div class="modal-footer">
        <button class="btn btnCoral btnRad30" data-dismiss="modal">Ok</button>
    </div>


