﻿<!-- The global file processing state -->
<div id="total-progress-container">
    <span>Total Progress: </span>
    <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
        <div class="progress-bar" style="width:0%;" data-dz-uploadprogress></div>
    </div>
</div>
<div strong class="text-success" id="statusText"> </div>
<div strong class="error text-danger" id="statusError"> </div>

<!-- Individual file view and processing state -->
<div class="table table-striped files" id="previews">
    <div class="container">
        <div id="template" class="file-row inlineBlock" style="padding: 20px;">
            <!-- For Thumbnail preview  -->
            <div style="border: hidden; width: 130px; height: 130px;">
                <span class="preview inlineBlock"><img data-dz-thumbnail /></span>
            </div>
            <div>
                <p class="name" data-dz-name style=" max-width: 400px; width: 300px; overflow: auto; white-space: nowrap;"></p>
                <strong class="error text-danger" data-dz-errormessage></strong>
            </div>
            <div>
                <p class="size" data-dz-size></p>
            </div>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                <div class="progress-bar" style="width:0%;" data-dz-uploadprogress></div>
            </div>
            <!-- Display delete button next to each image - Not in use at this point!
            <div>
                <button data-dz-remove class="btn btn-danger delete">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            </div> -->
        </div>
    </div>
</div>
