﻿
@model SciROLabABW.Web.ViewModels.EntityDelete_VM

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="refModalLabel">Delete Item</h4>
</div>

@using (Html.BeginForm(Model.ActionName, Model.ControllerName, FormMethod.Post, new { enctype = "multipart/form-data", Id = "postForm" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-body">
        <div class="form-horizontal">
            <h3>Do you want to delete this?</h3>

            @Html.HiddenFor(model => model.EntityId)
            <div style="height: 250px; overflow: auto; border: 1px solid coral;">
                <table class="table">
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.EntityName, new { type = "file", name = "docFile", id = "fileNameTextBox" })
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btnRad30" data-dismiss="modal">Cancel</button>
        <input type="submit" value="OK" class="btn btnCoral btnRad30" id="btnDelItemSubmit" name="submit" />
    </div>
}

@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/App/ProgressAnimation.js"></script>
<script src="~/Scripts/App/DelItemModalFormPost.js"></script>
<script src="~/Scripts/jquery.form.js"></script>


