﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SciROLabABW</title>
    <link rel="shortcut icon" href="@Url.Content(ProjectCommons.AppImagesPath + "Microscope.png")"/>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryui")
    @Scripts.Render("~/bundles/modernizr")

    <!-- custom_css -->
    <link href="~/Content/CustomCss/custom_css.css" rel="stylesheet" />
</head>
<body>
    <!-- Display processing modal with a spinner and prevent user from accessing the form during the processing -->
    <div id="processingModal">
        <div id="processingModalContent">
            <p id="processingModalSpinner">
                <img id="divProcessing"
                     src="@Url.Content("~/Content/Images/ajax-indicator-drip-circle.gif")" alt="Processing..." />
                Please wait...
            </p>
        </div>
    </div>
    <!-- userGroups modal placeholder-->
    <div id='userGroupsModal' class='modal fade in'>
        <div class="modal-dialog modalWide">
            <div class="modal-content">
                <div id='userGroupsContent'></div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="wideContainer">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SciROLab", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Main View", "Index", "WesternBlot")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("My Groups", "UserGroups", "Groups", new { @class = "getUserGrous", @data_url = @Url.Action("UserGroups", "Groups") })</li>
                        <li>@Html.ActionLink("Manage Methods", "Index", "Methods")</li>
                        <li>@Html.ActionLink("Manage Phrases", "Index", "Phrases")</li>                        

                        if (User.IsInRole("Owner") || User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Manage Groups", "Index", "groups")</li>
                            <li>@Html.ActionLink("Manage Roles", "RoleIndex", "Roles")</li>
                        }
                        if (User.IsInRole("Owner"))
                        {
                            <li>@Html.ActionLink("Manage Users", "Index", "User")</li>
                            <li>@Html.ActionLink("Manage Teams", "Index", "Teams")</li>
                        }
                    }
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <!-- hidden fields for license key server -->
    @Html.Hidden("updateURL", Url.Action("UpdateLicenseServer", "LicenseManager"))
    @Html.Hidden("refreshURL", Url.Action("RefreshLicenseServer", "LicenseManager"))
    @Html.Hidden("errorURL", Url.Action("LicenseError", "LicenseManager"))
    @Html.Hidden("currentURL", Request.Url.LocalPath)

    <div class="wideContainer body-content">
        @RenderBody()
        <hr class="hr-footer" />
        <footer>
            <div class="col-md-8">
                <p>
                    &copy; @DateTime.Now.Year - Onca, Inc. All rights reserved.
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <span> Powered by:
                        <img src="@Url.Content(ProjectCommons.AppImagesPath + "Onca_Logo1R.jpg")" alt="Onca Logo" height="50" />
                    </span>
                </p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/App/AppAlert.js"></script>
    <script src="~/Scripts/App/DatePicker.js"></script>
    <script src="~/Scripts/App/UserGroups.js"></script>
    <!-- Connect to the license key server only if user is authenticated -->
    @if ((User.Identity.IsAuthenticated) && (System.Configuration.ConfigurationManager.AppSettings["cloudService"] != "1963"))
    {
        <script src="~/Scripts/App/LicenseKeyClient.js"></script>
    }
    @RenderSection("scripts", required: false)
    </body>
    </html>
