﻿<div class="centeredContainer">
    <h1>Welcome To @ProjectCommons.productName</h1>
</div>

<img src="~/Content/Images/scirolab_logo2.png" height="250" class="centered" style="padding-top:2em;" />

<hr class="hr-table-coral" />
