﻿@model SciROLabABW.Web.ViewModels.Phrases.PhrasesTableCreate_VM

<style type="text/css">
    .form-control {
        max-width: 100%;
    }

    #bottomContainer {
        clear: both;
        width: 100%;
        padding-top: 2em;
    }
</style>

@{
    ViewBag.Title = "Add New Phrase";
}

<h2>Add New Phrase</h2>
<div>
    <a href="" class="mainListGoBack"> Back to List </a>
</div>

@using (Html.BeginForm("Create", "Phrases", FormMethod.Post, new { enctype = "multipart/form-data", Id = "postForm" }))
{
    @Html.AntiForgeryToken()

    <hr class="hr-table-coral" />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal col-md-11">
        <div class="form-group">
            @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "col-md-1" })
            <div class="col-md-10" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "col-md-1" })
            <div class="col-md-10" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phrase, htmlAttributes: new { @class = "col-md-1" })
            <div class="col-md-10" style="word-wrap: break-word;">
                @Html.EditorFor(model => model.Phrase, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phrase, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-top:2em;">
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btnCoral btnRad30 submitBtnHistoryBack submitBtn" id="submitBtnId" name="submit" />
            </div>
        </div>
    </div>
}

<div id="bottomContainer">
    <hr class="hr-table-coral" />
    <a href="" class="mainListGoBack"> Back to List </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/App/LeavePageValidation.js"></script>
    <script src="~/Scripts/App/ProgressAnimation.js"></script>
    <script src="~/Scripts/App/PageHistoryGoBack.js"></script>
    <script src="~/Scripts/App/PreventPostBackOnEnter.js"></script>
}
