﻿@model SciROLabABW.Web.ViewModels.Phrases.PhrasesTableEdit_VM

<style type="text/css">
    .form-control {
        max-width: 100%;
    }

    #bottomContainer {
        clear: both;
        width: 100%;
        padding-top: 2em;
    }
</style>

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Method</h2>
<div>
    <a href="" class="mainListGoBack"> Back to List </a>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "col-md-1" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "col-md-1" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phrase, htmlAttributes: new { @class = "col-md-1" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phrase, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phrase, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "col-md-1" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.UserName)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btnCoral btnRad30 submitBtn" id="submitBtnId" />
            </div>
        </div>
    </div>
}

<div id="bottomContainer">
    <hr class="hr-table-coral" />
    <a href="" class="mainListGoBack"> Back to List </a>
</div>

@section Scripts {
    <script src="~/Scripts/App/LeavePageValidation.js"></script>
    <script src="~/Scripts/App/ProgressAnimation.js"></script>
    <script src="~/Scripts/App/PageHistoryGoBack.js"></script>
    <script src="~/Scripts/App/PreventPostBackOnEnter.js"></script>
}
