﻿@using PagedList.Mvc;
@using SciROLabABW.Web.Authorization;
@model PagedList.PagedList<SciROLabABW.Web.ViewModels.Phrases.PhrasesTableIndex_VM>

<style type="text/css">
    .inline-container {
        display: inline-block;
        margin-right: 10px;
    }
</style>

@{
    ViewBag.Title = "Phrases Manager";
}

<h2>Phrases Manager</h2>
@using (Html.BeginForm("Index", "Phrases", FormMethod.Get,
       new { defaultbutton = "SubmitButton", id = "MainForm" }))
{
    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount.
        Maximum Items in Page: @Html.DropDownList("pageSizeStr", null, new { @onchange = "this.form.submit();" })
    </div>
    @*Note: if you change this one change also the one at the bottom of this page - TODO: find a better way to duplicate @Html.PagedListPager.*@
    @Html.PagedListPager(Model, page => Url.Action("Index", new
    {
        page,
        currentSortOrder = ViewBag.CurrentSortOrder,
        currentSearchText = ViewBag.CurrentSearchText,
        currentPageSize = ViewBag.CurrentPageSize,
    }))

    <div>
        @Html.Hidden("pageSize", ViewData["CurrentPageSize"] as string, new { @readonly = "readonly" })

        <div>
            <button type="submit" name="startSearch" id="SubmitButton" value="Search" class="btnCoral" title="Search">
                <i class="glyphicon glyphicon-search"></i>
            </button>
            @Html.TextBox("freeSearchStr", ViewBag.CurrentSearchText as string)
            <strong class="text-warning">@ViewData["CurrentSearchStatMsg"]</strong>
        </div>
    </div>

    <div>@Html.Label("Sort By:") @Html.DropDownList("ListSortOrder", null, new { @onchange = "this.form.submit();" })</div>
<!-- References modal placeholder - check if i really need this one!!!-->
<div id='refModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='refModalContent'></div>
        </div>
    </div>

</div>

<hr class="hr-table-coral" />
    <div>
        <div class="inline-container"><h4>Phrases Table:</h4></div>
        <div class="inline-container">
            @Html.ActionLink("Add New", "Create", "Phrases", null, new { @class = "keepMainViewLocation", onclick = "ShowProgressModal()" })
        </div>
    </div>
<div class="inline-container"> <input type="checkbox" id="selecetAll" /><span> Select all rows (in current page)</span> </div>
<div class="dropdown inline-container">
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span>Selected Rows Action </span><span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
        <li><input type="button" class="btn btnLinkStyle" value="Delete selected rows" id="buttonDel" data-url=@Url.Action("DeleteMultiple", "Phrases")></li>
    </ul>
</div>

<div class="form-horizontal col-lg-offset-0">
    @for (var i = 0; i < Model.Count; i++)
    {
        <hr class="hr-table-coral" />
        if (AccessAuthorization.IsUserEditDelAutorized(User.Identity.Name, Model[i].UserName))
        {
            <input type="checkbox" name="selectRow" id="selectRow" value=@Model[i].Id /><span> Select row</span>
        }
        <div class="row">
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model[i].Category)
                    </dt>
                    <dd>
                        <div style="word-wrap: break-word;">
                            @Html.DisplayFor(model => model[i].Category)
                        </div>
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model[i].Subject)
                    </dt>
                    <dd>
                        <div style="word-wrap: break-word;">
                            @Html.DisplayFor(model => model[i].Subject)
                        </div>
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model[i].Phrase)
                    </dt>
                    <dd>
                        <div style="word-wrap: break-word;">
                            @Html.DisplayFor(model => model[i].Phrase)
                        </div>
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model[i].UserName)
                    </dt>
                    <dd>
                        <div style="word-wrap: break-word;">
                            @Html.DisplayFor(model => model[i].UserName)
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
        <div> 
            @if (AccessAuthorization.IsUserEditDelAutorized(User.Identity.Name, Model[i].UserName))
            {
                @Html.ActionLink("Edit ", "Edit", "Phrases", new { id = Model[i].Id }, new { @class = "keepMainViewLocation", onclick = "ShowProgressModal()" })
                @Html.ActionLink("| Delete", "Delete", "Phrases", new { @class = "modifyReferences", data_id = Model[i].Id, data_url = @Url.Action("Delete", "Phrases") })
            }
        </div>
    }
</div>
<hr class="hr-table-coral" />
}

@*Note: if you change this one change also the one at the top of this page.*@
@Html.PagedListPager(Model, page => Url.Action("Index", new
    {
        page,
        currentSortOrder = ViewBag.CurrentSortOrder,
        currentSearchText = ViewBag.CurrentSearchText,
        currentPageSize = ViewBag.CurrentPageSize,
    }))

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/RefModalFormGet")
    <script src="~/Scripts/App/MouseOverImageResize.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/App/ProgressAnimation.js"></script>
    <script src="~/Scripts/App/PageKeepScrollPosition.js"></script>
    <script src="~/Scripts/App/DeleteSelected.js"></script>
    <script src="~/Scripts/App/SelectAllCheckbox.js"></script>
}
