﻿@model SciROLabABW.Web.Models.InvitedUserSignUpViewModel

<style type="text/css">
    .modal-dialog {
        width: 60%;
    }
</style>

<!-- displayTextModal placeholder-->
<div id='displayTextModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='displayTextModalContent'></div>
        </div>
    </div>
</div>

@{
    ViewBag.Title = "Sign Up";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("InvitedUserSignUp", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.Hidden("modal-title", "End User License Agreement - Onca®")
            @Html.Hidden("file-path", @Url.Content("~/Documents/EULA_SciROLab_SaaS.pdf"))
            <input type="submit" class="btn btn-default  btnCoral btnRad30" value="Agree & Sign Up" />
            <p>
                By signing up, you agree to our
                @Html.ActionLink("Terms of Use", "DisplayText", "Documents", new { @class = "displayText", data_url = @Url.Action("DisplayText", "Documents") })
            </p>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/App/DisplayTextPopup.js"></script>
}
