﻿@using SciROLabABW.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@Html.Partial("_Welcome")

<div class="centeredContainer" style="height: 4em;">
    <h2>Please log in</h2>
</div>

<section id="loginForm">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", Id = "postForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="centeredContainer" style="height: 4em;">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
        <div class="centeredContainer" style="height: 5em;">
            <div>
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control wide-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="centeredContainer" style="height: 5em;">
            <div>
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control wide-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="centeredContainer" style="height: 4em;">
            <div>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
        </div>

        @Html.HiddenFor(m => m.returnUrl)

        <div class="centeredContainer" style="height: 2em;">
            <div>
                <input type="submit" value="Log in" class="btn btnCoral btnRad30" />
            </div>
        </div>
        @* Don't allow user to register without invitation.
        <p>
            @Html.ActionLink("Register as a new user", "Register")
        </p>*@
        <p>
            @Html.ActionLink("Forgot your password?", "ForgotPassword")
        </p>
    }
</section>

@*<div class="col-md-4">
    <section id="socialLoginForm">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </section>
</div>*@

@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
}